ion-toolbar{
    --background: #fc880a;
}
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: -80px;
}
.notifications_list{
    padding-top:0px;
    ion-item{    
        margin-bottom:0px !important;
        ion-label{
            .notification_title{
                font-weight: bold !important;
                font-size:15px !important;
            }
            .notification_description{
                font-size:15px !important;
                color: #8e8e8e;
            }
            .notification_date{
                font-size: 10px;
                text-align: right;
                color: #233869;
            }
        }
    }
    .unreadnotificationitem{
        --background: #f2f2f2;
    }
}
