<ion-header>
	<ion-toolbar>
	    <ion-buttons (click)="setBackButtonAction()">
	        <img class="back-arrow" src="assets/icon/back_button.png" height="auto" width="20px">
	    </ion-buttons>
	    <ion-label>Notifications</ion-label>
  	</ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="notifications?.length>=1" class="notifications_list">
        <ion-item *ngFor="let notification of notifications" (click)="openNotificationDetails(notification.id, notification.status, notification.type_id)" [ngClass]="{'unreadnotificationitem':notification.status=='unread'}">
            <ion-label>
                <p class="notification_title">{{notification.title}} </p>
                <p class="notification_description">{{notification.description}} </p>
                <p class="notification_date">{{notification.date|date}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <p class="please_wait_message" *ngIf="show_notifications_please_wait">Please wait...</p>
    <p class="emptyMessgae" *ngIf="!show_notifications_please_wait && empty_data_message">Sorry, there are no notifications to view.</p>

    <ion-infinite-scroll (ionInfinite)="nextNotifications($event)" *ngIf="notifications?.length >=12">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
