<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title> Change Password </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form class="changepassword_form" novalidate [formGroup]="changepasswordForm">
          <ion-list padding>
            <ion-item>
                <ion-label>Old Password*</ion-label>                
                <ion-input type="password" name="oldpassword" formControlName="oldpassword" [(ngModel)]="changepassword.oldpassword"></ion-input>
            </ion-item> 
            <div *ngIf="!changepasswordForm.controls['oldpassword'].valid && !changepasswordForm.controls['oldpassword'].pristine" class="error_message">Please enter minimum 6 characters old password</div> 
            <ion-item>
                <ion-label>New Password*</ion-label>                
                <ion-input type="password" name="newpassword" formControlName="newpassword" [(ngModel)]="changepassword.newpassword"></ion-input>
            </ion-item> 
            <div *ngIf="!changepasswordForm.controls['newpassword'].valid && !changepasswordForm.controls['newpassword'].pristine" class="error_message">Please enter minimum 6 characters new password</div> 
            <ion-item>
                <ion-label>Confirm Password*</ion-label>                
                <ion-input type="password" name="confirmpassword" formControlName="confirmpassword" [(ngModel)]="changepassword.confirmpassword"></ion-input>
            </ion-item> 
            <div *ngIf="!changepasswordForm.controls['confirmpassword'].valid && !changepasswordForm.controls['confirmpassword'].pristine" class="error_message">Please enter minimum 6 characters confirm password</div> 
            <div *ngIf="((changepasswordForm.controls['confirmpassword'].valid) && (changepassword.newpassword) != (changepassword.confirmpassword))" class="error_message">New Password & Confirm Password do not match, please try again.</div> 
        </ion-list> 
    <ion-button class="submit_button" expand="block" [disabled]="!changepasswordForm.valid" (click)="change_password()">Submit</ion-button>
    </form>
</ion-content>
