ion-toolbar{
    --background: #fc880a;
  }
  ion-header {
    background: #fc880a;
    border-radius: 28%;
    padding-bottom: 25px;
    border-radius: 0px 11px 28px 28px;
  }
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: -80px;
  }
  ion-content{
    .page_content_details{
        font-size: 17px;
        text-align: justify;   
        color:#6f6f6f; 
    }
  }