<ion-header>
    <ion-toolbar>
    <ion-buttons>
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-label>FAQs</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <p class="emptyMessgae" *ngIf="faqsContent=='' && display_erros">Sorry, there are no details to view.</p>

    <div class="page_content_details" [innerHTML]="faqsContent" *ngIf="faqsContent"></div>
</ion-content>