ion-toolbar{
    --background: #fc880a;
}
ion-header {
  background: #fc880a;
  border-radius: 28%;
  padding-bottom: 25px;
  border-radius: 0px 11px 28px 28px;
}
ion-content{
    ion-list{
        margin-top: 30px;
        ion-item{    
            margin-bottom:0px !important;
            ion-label{
                .notification_title{
                    font-weight: bold !important;
                }
                .notification_description{
                    font-size:12px;
                }
                .notification_date{
                    font-size: 10px;
                    text-align: right;
                    color: #233869;
                }
            }
        }
        .unreadnotificationitem{
            --background: #e4e9f5;
        }
    }
}