<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
        </ion-buttons>
        <ion-title>Comments</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <p class="please_wait_message" *ngIf="showLoder">Please wait...</p> -->
    <ion-list *ngIf="notifications?.length>=1">
        <ion-item *ngFor="let notification of notifications" (click)="openNotificationDetails( notification.product_id, notification.id, notification.is_read,notification.catid)" [ngClass]="{'unreadnotificationitem':notification.is_read==0}">
            <ion-label text-wrap>
                <p class="notification_title"> {{notification.title|titlecase}} </p>
                <p class="notification_date">{{notification.date|date}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-col *ngIf="notifications?.length==0">
        <div class='error-msg'>Sorry, there is no comments to view.</div>
    </ion-col>
    
   
</ion-content>