<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
        <ion-title>
            My Wallet
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card class="total_wallet_amount_details">
        <ion-card-content>
            <p>GOTIT <br /><span>balance is</span></p>
            <h1>{{wallet_amount|currency:'INR'}}</h1>
            <div class="recharge_wallet_div">
                <h5>Recharge your wallet</h5>
                <p>Get you more offers & benefits. Its Safe and Quick!</p>
                <ion-item class="add_money_item">
                    <ion-input class="amount" type="number" placeholder="Enter Amount" [(ngModel)]="wallet_recharge_amount"></ion-input>
                    <ion-button (click)="recharge_wallet()">Add Money</ion-button>
                </ion-item>
            </div>
        </ion-card-content>
    </ion-card>
    <ion-card class="wallet_amount_transaction_details">
        <ion-card-content>
            <ion-item-divider color="light">
                <ion-label>
                    <ion-icon name="time"></ion-icon> Wallet Transactions
                </ion-label>
            </ion-item-divider>
            <ion-list class="transaction_list" *ngIf="wallet_transactions?.length>=1">
                <ion-item *ngFor="let wallet_transaction of wallet_transactions">
                    <ion-icon slot="start" name="add" class="transaction_icon_add" *ngIf="wallet_transaction.credit>0"></ion-icon>
                    <ion-icon slot="start" name="remove" class="transaction_icon_minus" *ngIf="wallet_transaction.debit>0"></ion-icon>
                    <ion-label>
                        <h3>
                          <span>{{wallet_transaction.payment_id}}</span>

                          <span class="transaction_type_credit" *ngIf="wallet_transaction.credit>0"> Credit </span>
                          <span class="transaction_type_debit" *ngIf="wallet_transaction.debit>0"> Debit </span>

                          <span class="amountdtls" *ngIf="wallet_transaction.credit>0"> {{wallet_transaction.credit|currency:'INR'}} </span>
                          <span class="amountdtls" *ngIf="wallet_transaction.debit>0">{{wallet_transaction.debit|currency:'INR'}}</span>
                        </h3>

                        <p class="transaction_details" *ngIf="wallet_transaction.particular">{{wallet_transaction.particular|titlecase}}
                          <span class="transaction_date">{{wallet_transaction.date}}</span></p>
                    </ion-label>
                </ion-item>
            </ion-list>
            <p class="emptyMessgae" *ngIf="wallet_transactions?.length<=0">Sorry, there is no wallet transactions to view.</p>
            <ion-infinite-scroll (ionInfinite)="nextWalleTranscation($event)" *ngIf="wallet_transactions?.length >=8">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </ion-card-content>
    </ion-card>
</ion-content>
