ion-content{
    .total_wallet_amount_details{
        ion-card-content{
            text-align:center;
            padding:1em 0px !important;
            p{
                color: #424242;
                font-weight: bold;
                span{
                    color: #817f7f;
                    font-weight: 100;
                    font-size: 12px;
                }
            }
            h1{
                margin-top: 15px;
                color: #ef7f1a;
                font-weight: bold;
            }
        }
        .recharge_wallet_div{
            h5{
                font-size: 14px;
                font-weight: bold;
                color: #424242;
            }
            p{
                font-size: 12px;
                color: #969696;
            }
            .add_money_item{
                width: 90%;
                margin: auto;
                ion-button{
                    --background: #233969;
                    --background-activated: #233969;
                    --background-focused: #233969;
                }
                .amount{
                  font-weight: bold;
                  font-size: 17px!important;
                }
            }
        }
    }
    .wallet_amount_transaction_details{
        ion-card-content{
            padding:0px !important;
            ion-item-divider{
                font-weight: bold;
                color: #424242;
                ion-icon{
                    margin-right:1em;
                }
            }
            .transaction_list{
                ion-item{
                  --min-height: 70px;
                  border: solid 1px darkgray;
                }
                .transaction_icon_add{
                    color: #4CAF50;
                }
                .transaction_icon_minus{
                    color: #ff0000;
                }
                h3{
                    .transaction_type_credit{
                        float: right;
                        color: #4CAF50;
                        font-weight: bold;
                        margin-right: 9em;
                    }
                    .transaction_type_debit{
                        float: right;
                        color: #ff0000;
                        font-weight: bold;
                        margin-right: 9em;
                    }
                    .amountdtls{
                      //float:right;
                      font-weight: bold;
                      position: absolute;
                      right: 17px;
                    }
                }
                .transaction_details{
                    font-size:11px;
                    margin: 10px 0 2px;
                    .transaction_date{
                        float:right;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
