ion-toolbar{
    --background: #fc880a;
  }
  ion-header {
    background: #fc880a;
    border-radius: 28%;
    padding-bottom: 25px;
    border-radius: 0px 11px 28px 28px;
  }
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: -80px;
  }
ion-content{   
    --background: #f6f6f6;
    .delete_products_div{
        margin-block-start: 0em;
        margin-block-end: 0em;
        padding: 3px 8px 0px 10px;
        ion-button{
            font-size:13px;
        }
        ion-checkbox{
            position: absolute;
            right: 10px;
            top: 9px;
        }
    }
    .products_list{
        padding-inline-start: 0px;
        margin-block-start: 0em;
        margin-block-end: 0em;
        .product_details{
            display:inline-grid;
            list-style: none;
            margin: 8px 0px 1px 10px;
            font-size: 11px;
            text-align: center;
            width: 46%;
            background: #fff;    
            box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
            border-radius: 10px;
            position:relative;
            height:250px;
            .discount_image{
                position: absolute;
                top: 2em;
                right: 0;
                width: 25%;
                height: 20%;
            }
            .delete_product_checkbox{        
                position: absolute;
                left: 10px;
                top: -3px;
            }
            .wishlist_icon{
                margin-block-start: 0em;
                margin-block-end: 0em;
                ion-icon{
                    font-size: 16px;
                    color: #a6a6a6;
                    padding: 7px 7px 7px 10px;
                    z-index: 99;
                    float: right;
                    margin-right: 0px;
                }
                .added_wishlist{                        
                    color: #ff0202;
                }
            }
            img{
                height: 165px;
                width: auto;
                padding-top: 4px;
                margin: auto;
            }
            .product_other_details{
                p{
                    margin-block-start: 0em;
                    margin-block-end: 0em;
                }
                .product_name{              
                    margin-block-end: 0em;
                    text-align: left;
                    padding: 5px 10px 0px;
                    color:#6c6e6d;
                    font-size:14px;
                }
                .pricing_details{    
                    overflow:auto;
                    padding: 5px 10px;   
                    p{
                        float:left;
                    }             
                    .rating_div{
                        background: #97cc6c;
                        padding: 2px 5px;
                        border-radius: 3px;
                        color: #fff;
                        max-width: 45px;
                        font-size: 10px;
                        ion-icon{
                            position: relative;
                            top: 1px;
                        }
                    }
                    .variant_details{
                        color: #232323;   
                        padding: 2px 0px 0px 5px;
                        font-weight:bold;
                        float:right;
                        font-size:12px;                      
                    }
                    .actual_price{                  
                        color:#a6a6a6;   
                        padding: 2px 0px 0px 5px;
                        text-decoration: line-through;
                        float:right;
                        font-size:12px;
                    }
                    .discount_price{
                        color: #232323;   
                        padding: 2px 0px 0px 5px;
                        font-weight:bold;
                        float:right;
                        font-size:12px;
                    }
                }
            }
        }
    } 
}