<ion-header>
    <ion-toolbar>
    <ion-buttons>
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-label>Wishlist</ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
    <p class="please_wait_message" *ngIf="show_products_please_wait_message">Please wait...</p>
    <p class="error-msg" *ngIf="empty_data_message && !show_products_please_wait_message">Sorry, there are no products to view.</p>
    <div class="delete_products_div" *ngIf="wishlists?.length>=2">
        <ion-button color="danger" size="small" (click)="delete_selected_products()"> Delete Products</ion-button> 
        <p (click)="select_delete_product('all','0')">
            <ion-checkbox color="secondary" *ngIf="selected_all_products=='false'"></ion-checkbox>
            <ion-checkbox color="secondary" checked="true" *ngIf="selected_all_products=='true'"></ion-checkbox>
        </p>
    </div>

    <ul class="products_list" *ngIf="!show_products_please_wait_message && wishlists?.length>=1">
        <li class="product_details" *ngFor="let wishlist of wishlists; let i=index">
            <p class="delete_product_checkbox" *ngIf="wishlists?.length>=2" (click)="select_delete_product('selected',i)">
                <ion-checkbox color="secondary" *ngIf="wishlist.delete_checked=='false'"></ion-checkbox>
                <ion-checkbox color="secondary" checked="true" *ngIf="wishlist.delete_checked=='true'"></ion-checkbox>
            </p>
            <p class="wishlist_icon"> <ion-icon name="close" (click)="remove_from_wishlist('single',wishlist.id)"></ion-icon> </p>
            <img *ngIf="wishlist.sale>0" [src]="sanitizer.bypassSecurityTrustResourceUrl(image_url+'/sale-hd-png-sale-200-1.png')" routerDirection="forward" routerLink="/product-details/{{wishlist.pid}}" class="discount_image">
            <img *ngIf="wishlist.image" [src]="sanitizer.bypassSecurityTrustResourceUrl(upload_url+wishlist.image)" routerDirection="forward" routerLink="/product-details/{{wishlist.pid}}">
            <img *ngIf="!wishlist.image" [src]="sanitizer.bypassSecurityTrustResourceUrl(image_url+'/no-product-image.png')" routerDirection="forward" routerLink="/product-details/{{wishlist.pid}}">
            <div class="product_other_details">
                <p class="product_name" routerDirection="forward" routerLink="/product-details/{{wishlist.pid}}">{{wishlist.name}}</p>
            </div>
        </li>
    </ul>
    <ion-infinite-scroll (ionInfinite)="nextWishlistProducts($event)" *ngIf="wishlists?.length >=10 && !hideInfiniteScroll">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
