<ion-header>
	<ion-toolbar>
	    <ion-buttons (click)="setBackButtonAction()">
	        <img class="back-arrow" src="assets/icon/back_button.png" height="auto" width="20px">
	    </ion-buttons>
	    <ion-label>Product Details</ion-label>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="products-data">
		<ion-slides  *ngIf="product_details.variant?.length>0" autoplay="3000" pager="true" loop="true" speed="300" [options]="sliderConfig" class="prodcut-image">
			<ion-slide class='ion-sliders'>
			<img [src]="(product_details.image!='' && product_details.image!=null)?upload_url+product_details.image:image_url+'no-product-image.png'" class="image" (click)="viewImage(product_details.image)" style="max-height: 280px;">

			</ion-slide>
		</ion-slides>
        
		<ion-row class="sliderimages">
			<ion-col size="1">
				<div class="btn-prev" (click)="slidePrev()" *ngIf="product_details.variant.length>3">
					<ion-icon name="arrow-round-back"></ion-icon>
				</div>
			</ion-col>
			<ion-col size="10">
				<ion-slides [options]="multiplesliderConfig" class='banner-details' pager="false"  #mySlider>
		          <ion-slide *ngFor="let item of product_details.variant">
		            <img src="{{upload_url+item.image}}" class="image" (click)="changeImage(item.image)">
		          </ion-slide>
		        </ion-slides>
			</ion-col>
			<ion-col size="1">
				<div class="btn-next" (click)="slideNext()" *ngIf="product_details.variant.length>3">
					<ion-icon name="arrow-round-forward"></ion-icon>
				</div>
			</ion-col>
		</ion-row>

		<div class="other-details">
		    <div class="product-details">
				<strong>{{product_details.name}}</strong>
		    </div>
		    <p>Model No.: <strong>{{product_details.model_no}}</strong></p>
            <p>Category: <strong>{{product_details.category}}</strong></p>
            <p>Inner Qty: <strong>{{product_details.inner_qty}}</strong></p>
            <p>Outer Qty: <strong>{{product_details.outer_qty}}</strong></p>
            <p class="avaibility">Availability: <ion-checkbox class="checkbox-square"  mode="md" [(ngModel)]="Is_stock" disabled> </ion-checkbox>
		    	<span *ngIf="product_details.stock>0">In Stock</span>
		    	<span *ngIf="product_details.stock==0" style="color: red;">Out Of Stock</span>
		    </p>
		    <ion-row class="row-details" *ngIf="product_details.stock>0">
               <ion-col size="4">Qty:</ion-col>
               <ion-col size="8" class="input-qty"><ion-input type="tel" class="from-input" value="{{currentQty}}" (input)='updateQty($event.target.value)'></ion-input></ion-col>
            </ion-row>
		    <div class="instruction">
			    <ul class="list">
				    <li class="item" *ngFor="let item of product_details.details">{{item.name}}: {{item.value}}</li>
				</ul>
			</div>
		    <div class="product-description">
		    	<strong>Product Description</strong>
			    <div class="desc" [innerHTML]="product_details.feature_detail">
				</div>
			</div>
		</div>

		<div class="other-details">
			<strong style="color: deepskyblue;">Related Products</strong>
			<ion-row class="sliderimages">
				<!-- <ion-col size="1">
					<div class="btn-prev" (click)="slidePrev('related')">
						<ion-icon name="arrow-round-back"></ion-icon>
					</div>
				</ion-col> -->
				<ion-col size="12">
					<ion-slides [options]="productsliderConfig" class='related-product-details' pager="false"  #relatedslider>
						<ion-slide *ngFor="let item of relatedproducts">
							<img [src]="(item.variant[0].images!='' && item.variant[0].images!=null)?upload_url+item.variant[0].images:image_url+'no-product-image.png'" class="image" routerDirection="forward" routerLink="/product-details/{{item.id}}">
							<p>{{item.name}}</p>

						</ion-slide>
			        </ion-slides>
				</ion-col>
				<!-- <ion-col size="1">
					<div class="btn-next" (click)="slideNext('related')">
						<ion-icon name="arrow-round-forward"></ion-icon>
					</div>
				</ion-col> -->
			</ion-row>
		</div>
	</div>
</ion-content>
<ion-footer no-border *ngIf="review_products.length>0">
  <ion-toolbar transparent>
    <div slot="start">
        <!-- <a href="whatsapp://send?phone=+919833903340"></a> -->
        <button ion-button full class="enquiry-now">{{review_products.length}} Items</button>
    </div>
    <div slot="end">
        <button ion-button full class="enquiry-now" routerDirection="forward" routerLink="/review-list">Review List</button>
    </div>
  </ion-toolbar>
</ion-footer>
