ion-toolbar{
    --background: #fc880a;
}
.enquiry-now{
    background:unset;
    font-weight: bold;
    color:#fff;
    font-size: 15px;
}
.row-details{
    max-width: 35%;
    border: 0.5px solid #8080805c;
    border-radius: 5px;

  .from-input{
    height: 20px;
    font-size: 16px;
  }
  ion-col{
    font-size: 12px;
  }
  .input-qty{
    background: #80808026;
  }
}
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: -80px;
}

ion-content{
    top: -22px;
    .other-details{
        p{
            color: gray;
            line-height: 12px;
        }
        padding: 10px 10px 10px 10px;
    }
    .avaibility{
        font-size: 17px;
        color: gray;
        font-weight: bold;
        span{
            padding-left: 5px;
        }
    }
    .instruction{
        color: #808080fa;
        ul{
            padding-left: 15px;
        }
    }
    .products-data{
        padding-top: 30px;
        .sliderimages{
            box-shadow: 0 6px 6px 0px #8080803b;
        }
        .banner-details{
            ion-slide{
                border-bottom: 1px solid #8080805c;
                height: 100px;
                border-left: 1px solid #80808038;
                img{
                    height: 75px;
                }
            }
        }
        .related-product-details{

            ion-slide{
                border-bottom: 1px solid #8080805c;
                max-height: 130px;
                border-left: 1px solid #80808038;
                img {
                    width: auto;
                    max-width: 100%;
                    height: 100px !important;
                    max-height: 101%;
                }
            }
        }
        .prodcut-image{
            box-shadow: 0 6px 6px 0px #8080803b;
            height: 300px;
        }
        .arrows-img{
            font-size: 30px;
            color: #fc880a;
            .prev{
                float:left;
            }
            .next{
                float:right;
            }
        }
        .btn-prev{
            position: relative;
            top: 40%;
            z-index: 2;
            display: inline-block;
            width: 18px;
            height: 18px;
            font-size: 18px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: #0707fd;
            color: #fff;
            text-align: center;

        }
        .btn-next{
            position: relative;
            top: 40%;
            z-index: 2;
            display: inline-block;
            width: 18px;
            height: 18px;
            font-size: 18px;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: #0707fd;
            color: #fff;
            text-align: center;
            right: 5px;
        }

    }
	ion-slides{
      ion-slide{
        display: inline-grid;
        list-style: none;
        font-size: 11px;
        text-align: center;
        position: relative;
        width: 350px;
      }
    }
	
    .product-details{
        padding-top: 16px;
    }

    
    .product-description{
        padding: 10px;
        background: #87ceeb30;
        strong{
            color: deepskyblue;
        }
        .desc{
            color: #808080fa;
            font-size: 14px;
        }
    }
}
