ion-toolbar{
    --background: #fc880a;
}
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: -80px;
}

ion-content{
	.products-data{
		padding-top: 20px;
	}
	ion-item{
		ion-row{
			width: 100%;
			ion-col{
				.model-no{
					color: #808080bd;
				}
			}
		}
	}
}
.enquiry-now{
    background:unset;
    font-weight: bold;
    color:#fff;
    font-size: 15px;
}