<ion-header>
	<ion-toolbar>
	    <ion-buttons (click)="setBackButtonAction()">
	        <img class="back-arrow" src="assets/icon/back_button.png" height="auto" width="20px">
	    </ion-buttons>
	    <ion-label>Review Items</ion-label>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="products-data">
		<ion-list>
		  <ion-item *ngFor="let item of review_products" >
		  	<ion-row>
		  		<ion-col size="9" left text-left>
		  			<p>{{item.name | titlecase}}</p>
		  			<span class="model-no">Model No. - <span>{{item.model_no}}</span></span>
		  		</ion-col>
		  		<ion-col size="3" right text-right><p>{{item.qty}}</p></ion-col>
		  	</ion-row>
		    
		  </ion-item>
		</ion-list>
	</div>
</ion-content>

<ion-footer no-border>
  <ion-toolbar transparent>
    <div text-center center>
        <button ion-button full text-center center class="enquiry-now" (click)="generatePdf()">Share</button>
    </div>
  </ion-toolbar>
</ion-footer>