<ion-header>
  <ion-toolbar class="type-search" *ngIf="type=='search'">
    <ion-buttons slot="start">
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-searchbar type="text" color="light" placeholder="Search Collectables, Users" clearInput (ionChange)="searchreacord($event.target.value)"  [(ngModel)]="searchuser">
    </ion-searchbar>
  </ion-toolbar>

  <ion-toolbar *ngIf="type!='search'">
    <ion-buttons>
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-label>Timeline</ion-label>
  </ion-toolbar>

</ion-header>



<ion-content>
  <!-- Story line -->
  <ion-slides [options]="sliderConfig" class='story' *ngIf="arrdetails.userlist.length>0">
      <ion-slide *ngFor="let s of arrdetails.userlist" class="story_scroll" routerDirection="forward" routerLink="/profile/{{s.id}}">
        <div class="story_img_bg">
	      <img no-margin no-padding class="story_img" [src]="(s.image=='')?image_url+'blankimage.png':upload_url+s.image"></div>
	      <p no-margin no-padding text-center class="story_text">{{ s.name }}</p>
      </ion-slide>
    </ion-slides>


  <hr no-margin no-padding>
  <div [class]="arrdetails.userlist.length>0?'':'main-div-top'">
    <!-- Cards -->
    <ion-card no-padding no-margin class="card" *ngFor="let item of arrdetails.timelist; let i=index">
    	<ion-row>
        <ion-col class="profile-head">
        	<ion-item lines="none">
		        <ion-avatar>
		          <img [src]="(item.profile_image=='')?image_url+'blankimage.png':upload_url+item.profile_image" routerDirection="forward" routerLink="/profile/{{item.userId}}">
		        </ion-avatar>
  		      <h2 class="profile-name" routerDirection="forward" routerLink="/profile/{{item.userId}}"> 
              {{item.user_name}}
              <ion-label style="font-size: 12px">
                {{item.date}}
              </ion-label>
            </h2>
	      	</ion-item>
          <div class="edit-del-btn" *ngIf="loginUserid!=item.userId && item.is_copy">
            <ion-icon name="copy" class="btn-copy" (click)="copyproduct(item.id)"></ion-icon>
            <p>Copy</p>
          </div>
        </ion-col>
    	</ion-row>
      <ion-slides  autoplay="3000" pager="true" loop="true" speed="300" [pager]="0">
          <ion-slide class='ion-sliders'>
            <img [src]="sanitizer.bypassSecurityTrustResourceUrl(item.image!='' && item.image!=null?upload_url+item.image:image_url+'no-product-image.png')" routerDirection="forward" routerLink="/product-details/{{item.id}}/timeline" class="banner-image">
          </ion-slide>
      </ion-slides>

      <ion-row class="icon-cnt-dtls">
        <ion-col>
          <h2 class="product-name">{{item.productname}}</h2>
          <div class="btn-cnts">
            <div class="heart-icon">
              <img src="assets/icon/redlike.png">
              <ion-label>{{item.totalFavorate}}</ion-label>
            </div>
            <div class="like-icon">
              <img src="assets/icon/liked.png" >
              <ion-label>{{item.totalLikes}}</ion-label>
            </div>
            <div class="like-icon">
              <img src="assets/icon/commentscnt.png" >
              <ion-label>{{item.commentCnt}}</ion-label>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="btn-dtls" >
        <ion-col col-3 (click)="likeButton(i)">
            <img src="assets/icon/{{(item.is_like)?'liked.png':'icon-like.png'}}" class="icon-space">
            <ion-label>Like</ion-label>
        </ion-col>
        <ion-col col-3 routerDirection="forward" routerLink="/comments/{{item.id}}">
            <img src="assets/icon/comment.png" class="icon-space">
            <ion-label>Comments</ion-label>
        </ion-col>
        <ion-col col-3 (click)="favorateButton(i)">
            <img src="assets/icon/{{(item.is_favorate)?'redlike.png':'like.png'}}" class="icon-space">
            <ion-label>Favorite</ion-label>
        </ion-col>
        <ion-col col-3 (click)="share_product_details(i)">
            <img src="assets/icon/send.png" class="icon-space" >
            <ion-label>Share</ion-label>
        </ion-col>
          
      </ion-row>
    </ion-card>
  </div>
  <ion-infinite-scroll (ionInfinite)="nexttimeList($event)" *ngIf="arrdetails.timelist?.length >=1 && !hideInfiniteScroll">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
