  $grid-padding-width: 1px !default;
  ion-toolbar{
    --background: #fc880a;
  }
  .type-search{
        height: 52px !important;
  }
  ion-header {
    background: #fc880a;
    border-radius: 28%;
    padding-bottom: 25px;
    border-radius: 0px 11px 28px 28px;
  }
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: -80px;
  }
  ion-content{
    top: -36px;
  }
  
  /* Stories */
  .main-div{
    margin-top: 145px;
  }
  .main-div-top{
    margin-top: 40px;
  }
  .profile-head{
    border-bottom: 1px solid #8080801c;
    height: 65px;
  }
  .story {
    white-space: nowrap;
    background: #e4e9f5;
    padding-top: 38px;
    top: 0px;
    left: 0px;
    right: 0px;
  }
  
  .story_scroll {
    display: inline-block;
    width: 70px;
    margin: 10px;
  }

  .story_img_bg {
    /*width: 70px;
    padding: 2px;
    border-radius: 50%;
    padding-bottom: 0;
    transition: all 1s;
    -webkit-transition: all 0.2s;
    background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%); */
  }

  .story_img_bg:active {
    background: -webkit-linear-gradient(left top, #DD2352 0%, #F1642F 100%);
    transform: scale(1.1);
  }

  .story_img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid #c8c7cc8c;
  }

  .story_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
    font-size: 11px;
  }
  .profile-name{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    float:left;
    ion-label{
      font-size: 10px;
      color: #989aa2;
    }
  }
  .icon-space{
    width: 25px;
    float:left;
  }
  icon-btn{
    p{
      float:right;
    }
  }
  .icon-btn{
    background:white;
  }
  .icon-cnt-dtls{
    margin-left: -5px;
    ion-col{
      img{
        width: 12px;
        float: left;
      }
      ion-label{
        margin-left: 5px;
        font-size: 12px;
      }
    }
    .heart-icon{
      float:left;

    }
    .like-icon{
      float:left;
      margin-left: 10px;
    }
  }
  .btn-dtls{
    border-top: 1px solid #f2f2f2;
    ion-col{
      img{
        width: 18px;
        float: left;
      }
      ion-label{
        margin-left: 5px;
        font-size: 10px;
      }
    }
  }
  .card-content-ios{
    padding: 0px;
  }
  ion-item{
    --padding-start: 4px;
    float:left;
    --background: var(--ion-item-background,transparent);
  }
  .product-name{
    font-weight: bold;
    margin-top: 2px;
    font-size: 17px;
    margin-left: 5px;
    float: left;
  }
  .like-content{
    img{
      width: 20px;
    }
  }
  .btn-cnts{
    float: right;
    padding-right: 5px;
  }
  .sc-ion-card-ios-s img{
    width: auto;
    padding-top: 5px;
  }
  ion-slides{
    .ion-sliders{
      margin-bottom: 5px !important;
      display: inline-grid;
      list-style: none;
      /*margin: 8px 0px 1px 10px;*/
      font-size: 11px;
      text-align: center;
      border-radius: 10px;
      position: relative;
      height: 350px;
      width: 350px;
    }
  }
  .edit-del-btn{
    float:right;
    margin-top: 13px;
    font-size: 25px;
    p{
      font-size: 10px;
      margin-top: -2px;
    }
  }
  .btn-copy{
    color:#fc880a91;;
  }
 .swiper-pagination-bullet{
   background:white!important;
   border-radius: 100%;
   height: 17px;   
   width: 17px;
   display: none;
}