<ion-header>
	<ion-toolbar>
    <ion-buttons>
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-label>My Showcases</ion-label>
  </ion-toolbar>
  	<div class="UserimgSdection" routerDirection="forward" routerLink="/profile/{{userdetails.id}}">
	  <img [src]="(userdetails.image!='')?upload_url+userdetails.image:image_url+'blankimage.png'" class="profile-img">
	  <ion-label>{{(userdetails.name!="")?userdetails.name:'(Unknown)'}}</ion-label>
	</div>
</ion-header>

<ion-content>
	<div class="my-showcases"> 
		<div *ngIf="products.length==0 && showmsg">
			<ion-col>
				<div class='error-msg'>Showcases not available.</div>
			</ion-col>
		</div>
		<div *ngFor="let item of products;">
			<div *ngIf="item.images?.length">
				<div class="head-title" routerDirection="forward" routerLink="/category-details/{{item.catid}}/{{item.name}}">{{item.name}}</div>
			    <ion-card class="slide-cart">
			        
			        <ion-slides [options]="sliderConfig" class='img-details'>
			          	<ion-slide *ngFor="let img of item.images;">
			                <img [src]="sanitizer.bypassSecurityTrustResourceUrl(img.images!='' && img.images!=null?upload_url+img.images:image_url+'no-product-image.png')" class="image" routerDirection="forward" routerLink="/category-details/{{item.catid}}/{{item.name}}">
			          	</ion-slide>
			        </ion-slides>
			    </ion-card>
			</div>
		</div>
	</div>
	
	<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="btn-add" routerDirection="forward" routerLink="/add-product">
        <ion-fab-button size="small">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
