ion-app{
    background: #e4e9f5 !important;
}

.ion-page{
    background: #e4e9f5 !important;
}
ion-toolbar{
    --background: #fc880a;
}
ion-header {
    background: #fc880a;
    border-radius: 28%;
    border-radius: 0px 11px 28px 28px;
}
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: -80px;
}
.UserimgSdection{
    position: relative;
    .profile-img{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-left: 75px;
        float: left;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    ion-label{
        margin-top: 30px;
        position: absolute;
        padding-left: 10px;
        color: #ffffff;
    }
}

ion-app{
    background: #e4e9f5 !important;
}

.ion-page{
    background: #e4e9f5 !important;
}

ion-content{
    --background: #e4e9f5 !important;
    top: -36px;
    .my-showcases{
        padding-top: 60px;
    }
    .head-title{
        color: #757577;
        padding-bottom: 8px;
        margin-left: 16px;
    }
    
    ion-card{
        background: #ffffff;
        margin-top: 0px;
        margin-bottom: 16px;
    }
    ion-slides{
        margin: 15px 17px 12px 13px;
        ion-slide{
            div{
                ion-card{
                    border-radius: 0px;
                    margin: 1px 5px;
                    ion-row{
                        ion-col{
                            font-size : 10px;
                        }
                    }
                }
                img{
                    height: 70px;
                }
            }
        }
    }
    .slide-cart{
        height: 130px;
        .btn-prev{
            position: absolute;
            top: 40%;
            left: -5px;
            font-size: 22px;
            z-index: 2;
            color: #d9d9d9;
        }
        .btn-next{
            position: absolute;
            top: 40%;
            right: -5px;
            font-size: 22px;
            z-index: 2;
            color: #d9d9d9;
        }
        .img-details{
            ion-slide{
                img{
                    height: 100px;
                    width:auto;
                }
            }
        }
    }
    .btn-add{
        ion-fab-button{
            --background:#fc880a;
            --background-activated:#fc880a;
            --background-focused:#fc880a;
            --background-hover:#fc880a;
            ion-icon{
                color:#fff;
                font-size:20px;
            }
        }
    }
} 