<ion-content padding>
    <img src="{{image_url}}/logo.png" class="logoImage">
    <form class="login_form" novalidate [formGroup]="loginForm">
        <ion-list>
            <ion-row class='row-text'>
                <ion-col class="ion-text-center lbl-title"><h3>Login</h3>
                <div class="horizontal_left_line"></div><div class="horizontal_right_line"></div>
            </ion-col>
            </ion-row>
            <ion-item>
                <img src="{{image_url}}/mail_icon.png" class="input_icon" slot="start">
                <ion-label position="floating"> Email*</ion-label>
                <ion-input type="email" name="email" formControlName="email"  [(ngModel)]="login.email"></ion-input>
            </ion-item>
            <div *ngIf="!loginForm.controls['email'].valid && !loginForm.controls['email'].pristine" class="error_message">Please enter a valid email address</div>
           
            <ion-item>
                <img src="{{image_url}}/password_icon.png" class="input_icon" slot="start">
                <ion-label position="floating">Password*</ion-label>
                <ion-input type="password" name="password" formControlName="password" [(ngModel)]="login.password"></ion-input>
            </ion-item>
            <div *ngIf="!loginForm.controls['password'].valid && !loginForm.controls['password'].pristine" class="error_message">Please enter a minimum 6 characters password</div>
        </ion-list>
        <p class="forgotpassword_label" routerDirection="forward" routerLink="/forgotpassword">Forgot Password?</p>
        <ion-button expand="block" class="ion-btn" [disabled]="!loginForm.valid" (click)="doLogin()">Login</ion-button>
       <!--  <p class="facebookGoogle_label">Sign in via Facebook & Google</p>
        <p class="facebookGoogleIcons"><img src="{{image_url}}/facebook.png" class="facebookLogo" (click)="facebookLogin()"> <img src="{{image_url}}/google.png" class="googleLogo" (click)="googlelogin()"></p> -->
        <p class="signup_label">Don't have an account? <span routerDirection="forward" routerLink="/signup">Sign Up now.</span></p>
    </form>
</ion-content>
