ion-content{
    img{
        margin-left: 8px;
    }
    --background:url(http://happyhelpp.com/gotit/userapp_images/login_bg.jpg) bottom no-repeat;
    .back_arrow_button{
        position: absolute;
        left: 0;
        --background: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --box-shadow: 0;
        --color: #213969;
        top: 1em;
    }
    .logoImage{
        padding: 0em 4em 0.5em;
    }
    .forgotpassword_label{
        font-size: 12px;
        text-align: right;
        color: #636262;
    }
    .login_button{
        --background:#23396b;
        --background-activated:#23396b;
        --background-focused:#23396b;
    }
    .facebookGoogle_label{
        font-size: 12px;
        text-align: center;
        color: #636262;
    }
    .facebookGoogleIcons{
        margin-block-start: 0em;
        margin-block-end: 0em;
        text-align:center;
        img{
            padding:0px 10px;
        }
    }
    .signup_label{
        font-size: 12px;
        text-align: center;
        color: #636262;
        span{
          font-weight: bold;
          font-size: 13px;
        }
    }
    
}
