<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-label>About Us</ion-label>
  </ion-toolbar>
  <ion-toolbar class="about-header">
      <h3 text-center>About Us</h3>
      <h5 text-center text-wrap>You now have the power to move things</h5>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-text>
    <h5>
      Living in the city, we never have enough time to do all the things we want to do.
    </h5>
    <h5>
      Gotit can change the way you move things, how you shop and lets you access your city like never before. We’re an app that connects you to the nearest delivery partner who can make purchases, pick up items from your door steps and deliver to desire location.
    </h5>
    <h5>
      It’s never easy to make purchases or drop off packages when you get busy with work, get stuck in traffic, or you might even end up forgetting about it completely.
    </h5>

    <h5>
      <p>All you need to do is,</p>
      Tell us from where to pick, what needs to be done and where to drop it.
      What happens next? Sit back, and let us worry about your task-at-hand.
      You could say that we are always on the move for you.
    </h5>

    <h5>
       For more information: <a href="javascript:void(0)" (click)="clickMe()">Click Here</a>
    </h5>
  </ion-text>
</ion-content>
