ion-toolbar{
    --background: #fc880a;
}
ion-header {
    background: #fc880a;
    border-radius: 28%;
    padding-bottom: 25px;
    border-radius: 0px 11px 28px 28px;
}
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: -80px;
}
ion-content{
    .my-collectors{
        padding-top: 0px;
        div{
            ion-card{
                .profile-img{
                    margin: 10px;
                    .img-class{
                        width:60px;
                        float:left;
                        max-height: 60px;
                        height:60px;

                    }
                    ion-label{
                        margin-top: 24px;
                        float: right;
                        padding-right: 90px;
                    }
                }
                .other-collectors{
                    padding-left: 5px;
                    clear:both;
                }
                .padding-left{
                    padding-left: 75px;
                }
                .other-details{
                    font-size: 13px;
                    font-weight: bold;
                    margin-bottom: 5px;
                    margin-top: 27px;

                    ion-row{
                        .item-col{
                            background: #8080804d;
                            color: #ffffff;
                            border-right: 5px solid;
                            margin-top: 5px;
                            ion-row{
                                ion-col{
                                    font-size: 10px;
                                    .quantity{
                                        float: right;
                                        background: white;
                                        color: black;
                                        font-size: 11px;
                                        height: 20px;
                                        width: 20px;
                                        text-align: center;
                                        padding-top: 4px;
                                        font-weight: 500;
                                        border-radius: 3px;
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }
}