<ion-header>
	<ion-toolbar>
	    <ion-buttons (click)="setBackButtonAction()">
	        <img class="back-arrow" src="assets/icon/back_button.png" height="auto" width="20px">
	    </ion-buttons>
	    <ion-label>Collectors</ion-label>
  	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="my-collectors"> 
		<ion-item>
            <ion-label position="floating">Choose Category*</ion-label>
            <ion-select name="category_id" (ionChange)="getcollectores()" [(ngModel)]="category_id" interface="popover">
                <ion-select-option *ngFor="let item of arrcategory" value="{{item.id}}">{{item.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <div *ngFor="let item of arrcollectores; let i=index">
		    <ion-card *ngIf="item.collecables.length>0">
		    	<div class="profile-img">
		    		<ion-img routerDirection="forward" routerLink="/profile/{{item.user_id}}" [src]="(item.image=='')?image_url+'blankimage.png':upload_url+item.image"  class="img-class"></ion-img>
		    	</div>
		    	<div class="other-details padding-left">
		    		<ion-label>{{item.name}}</ion-label>
		    		<!-- <ion-row>
		    			<ion-col size="12" class="item-col">
		    				<ion-row>
		    					<ion-col size="9"><ion-label>{{item.collecables[0].name}}</ion-label></ion-col>
		    					<ion-col size="3"><ion-label class="quantity">{{item.collecables[0].quantity}}</ion-label></ion-col>
		    				</ion-row>
		    			</ion-col>
		    		</ion-row> -->
		    	</div>
		    	<div class="other-details other-collectors">
			    	<ion-row>
		    			<ion-col size="6" *ngFor="let collect of item.collecables" class="item-col">
		    				<ion-row>
		    					<ion-col size="10"><ion-label>{{collect.name}}</ion-label></ion-col>
		    					<ion-col size="2"><ion-label class="quantity">{{collect.quantity}}</ion-label></ion-col>
		    				</ion-row>
		    			</ion-col>
		    		</ion-row>
		    	</div>

		    </ion-card>
		</div>
	</div>
</ion-content>
