<ion-header>
  <ion-toolbar *ngIf="arrcat.id==0">
    <ion-buttons slot="primary">
      <ion-button (click)="closemodel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

    <ion-toolbar *ngIf="arrcat.id>0">
        <ion-buttons>
            <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
        </ion-buttons>
        <ion-label>Update Category</ion-label>
    </ion-toolbar>

</ion-header>
<ion-content padding>
    <form class="collect_form" novalidate [formGroup]="categoryForm">
        <div class="frm-input">
            <ion-input placeholder="Category Name" name="name" formControlName="name"  [(ngModel)]="arrcat.name"></ion-input>
        </div>
        <div class="toogle-button">
            <ion-row>
                <ion-col size="6">
                    <ion-label>Is Active?</ion-label>
                    <ion-toggle formControlName="status"  [(ngModel)]="arrcat.status"></ion-toggle>
                </ion-col>
            </ion-row>
        </div>
        <div class="upload-images">
            <ion-row>
                <ion-col size="6" class="frm-input" *ngFor="let photo of arrPhotos; let i=index">
                    <img [src]="photo.path" class="image" (click)="uploadImage(i)">
                    <a class="remove-image" (click)="removePhoto(i)" *ngIf="removeImage">&#215;</a>
                </ion-col>
            </ion-row>
        </div>

    </form>
</ion-content>
<ion-footer no-border>
    <ion-toolbar transparent>
        <div text-center center>
            <button ion-button full text-uppercase class="enquiry-now" (click)="addCategory()">{{ (arrcat.id>0)?'Update' :'Submit' }}</button>
        </div>
    </ion-toolbar>
</ion-footer>