<ion-header>
  <ion-toolbar>
    <ion-buttons>
    </ion-buttons>
    <ion-label *ngIf="paymentStatusType==1">Payment Successfully</ion-label>
    <ion-label *ngIf="paymentStatusType==2">Payment Failure</ion-label>
        
  </ion-toolbar>
</ion-header>

<ion-content class="payment_message_page">
    <div class="order_placed_successfully" *ngIf="paymentStatusType==1"> <!-- If Order Placed with Cash Payment Mode-->
        <ion-icon name="checkmark-circle-outline" class='success_icon'></ion-icon>
        <h6>Payment Successfully!</h6>
        <p>Thank you! We have received your order. </p>
        <ion-button routerDirection="forward"  routerLink="/home" class="continue_shopping_button ion-btn">Back</ion-button>
    </div>
    <div class="order_payment_failed" *ngIf="paymentStatusType==2"> <!-- If Order Placed Online Payment Mode Falied-->
        <ion-icon name="close-circle-outline" class='failed_icon'></ion-icon>
        <h6>Payment Failure</h6>
        <p class='sub_message'>Sorry, your transaction has been declined.</p>
        <ion-button routerDirection="forward"  routerLink="/subscription" class="try_again_button ion-btn">Try Again</ion-button>
    </div>
</ion-content>
