ion-toolbar{
    --background: #fc880a;
}
ion-header {
  background: #fc880a;
  border-radius: 28%;
  padding-bottom: 25px;
  border-radius: 0px 11px 28px 28px;
}

.payment_message_page{
    text-align:center;
    .order_placed_successfully{
        .success_icon{
            font-size: 6em;
            color: #97cc6c;
            margin-top: 12%;
            margin-bottom: 0em;
        }
        h6{
            color: #5c5c5c;
            font-weight: bold;
            font-size: 1.3em;
            margin-top: 10%;
            margin-bottom: 8%;
        }
        p{    
            color: #5b5b5b;
            font-size: 15px;
        } 
        .sub_title_message{
            padding: 0px 10px;
            strong{
                font-size: 17px;
                text-decoration: underline;
                color: #1aa8d5;                
            }
        }
        .continue_shopping_button{
            margin-top: 2em;
            --background: #1aa8d5;
        }
    }
    .order_payment_failed{
        .failed_icon{
            font-size: 6em;
            color: #ff0000;
            margin-top: 12%;
            margin-bottom: 0em;
        }
        h6{
            color: #5c5c5c;
            font-weight: bold;
            font-size: 1.3em;
            margin-top: 10%;
            margin-bottom: 8%;
        }
        p{
            color: #5b5b5b;
            font-size: 15px;
        } 
        .try_again_button{
            margin-top: 2em;
            --background: #1aa8d5;        
        }
    }
}
