ion-toolbar{
    --background: #fc880a;
}
ion-title {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 90px 1px;
	width: 100%;
	height: 100%;
	text-align: center;
	margin-left: -80px;
}
.error_message{
	margin-left: 0px !important;
}
.toogle-button{
	clear: both;
	padding-top: 10px;
	ion-toggle{
		--background-checked:#fc880a
	}
}
.category-details{
	.frm-input{
		float: left;
		width: 90%;
	}
	ion-icon{
		float: right;
		padding-top: 30px;
	}
}
.add-button{
	font-size: 30px;
	color: #504f4ff7;
}
.enquiry-now{
	background: unset;
	font-size: 15px;
	font-weight: bold;
}
.add-new{
	display: block;
	margin: auto;
	width: 40%;
    padding-top: 10px;

    ion-button{
    	height: 1.8em !important;
    }
    
}
.remove-image{
	display: inline;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 10em;
    padding: 0px 3px 0px;
    text-decoration: none;
    font: 700 21px/20px sans-serif;
    background: #555;
    color: #FFF;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
    text-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-transition: background 0.5s;
}
ion-content{
	.frm-input{
	    box-shadow: 0 3px 6px 0px #8080803b;
	    border-left: 1px solid #8080803b;
	    border-right: 1px solid #8080803b;
	    padding: 10px;
    	margin-top: 15px;
    	border-radius: 7px;
    	
	    ion-input{
	        margin-left: 10px;
	    }
	}
	.upload-images{
		clear: both;
		padding-top: 10px;
		ion-col{
			height: 120px;
			padding-top: 25px;
			border-right: 12px solid #eae9e975;
			img{
				display: block;
				margin: auto;
				width: 50%;
				max-width: 512px;
				max-height: 512px;
			}
		}
	}
}