<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-label>{{(product_id>0)?'Update' : 'Add'}} Product</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form class="collect_form" novalidate [formGroup]="collectForm">
        <div class="frm-input">
            <ion-input placeholder="Name" name="name" formControlName="name" maxlength="50"  [(ngModel)]="arrcollect.name"></ion-input>
        </div>
        <div *ngIf="!collectForm.controls['name'].valid && !collectForm.controls['name'].pristine" class="error_message">Please enter product name</div>
        <div class="frm-input">
            <ion-input placeholder="Model No." name="model_no" formControlName="model_no"  [(ngModel)]="arrcollect.model_no"></ion-input>
        </div>
        <div *ngIf="!collectForm.controls['model_no'].valid && !collectForm.controls['model_no'].pristine" class="error_message">Please enter model number</div>

        <div class="category-details">
            <div class="frm-input">
                <ion-select ok-text="Okay" placeholder="Category" cancel-text="Dismiss" name="category_id" formControlName="category_id"  [(ngModel)]="arrcollect.category_id" interface="popover">
                    <ion-select-option *ngFor="let item of arrcategory" value="{{item.id}}">{{item.name}}</ion-select-option>
                </ion-select>
            </div>
            <ion-icon class="add-button" name="add-circle" (click)="openMyModal()"></ion-icon>
        </div>
        
        <div *ngIf="arrcollect.category_id==0 && showError" class="error_message">Please select a category</div>

        <div class="toogle-button">
            <ion-row>
                <ion-col size="6">
                    <ion-label>In Stock?</ion-label>
                    <ion-toggle formControlName="in_stock"  [(ngModel)]="arrcollect.in_stock"></ion-toggle>
                </ion-col>
                <ion-col size="6">
                    <ion-label>Make Live?</ion-label>
                    <ion-toggle formControlName="is_live"  [(ngModel)]="arrcollect.is_live" ></ion-toggle>
                </ion-col>
            </ion-row>
        </div>
        <ion-row>
            <ion-col size="6">
                <div class="frm-input">
                    <ion-input type="text" placeholder="Inner Qty" name="inner_qty" formControlName="inner_qty"  [(ngModel)]="arrcollect.inner_qty"></ion-input>
                </div>
                <div *ngIf="!collectForm.controls['inner_qty'].valid && !collectForm.controls['inner_qty'].pristine" class="error_message">Please enter inner qty name</div>
            </ion-col>

            <ion-col size="6">
                <div class="frm-input">
                    <ion-input placeholder="Outer Qty" name="outer_qty" formControlName="outer_qty"  [(ngModel)]="arrcollect.outer_qty"></ion-input>
                </div>
                <div *ngIf="!collectForm.controls['outer_qty'].valid && !collectForm.controls['outer_qty'].pristine" class="error_message">Please enter outer qty</div>
            </ion-col>
        </ion-row>
         
        

        <div class="frm-input">
            <ion-textarea placeholder="Description" formControlName="description"  [(ngModel)]="arrcollect.description"></ion-textarea>
        </div>
        <div *ngIf="!collectForm.controls['description'].valid && !collectForm.controls['description'].pristine" class="error_message">Please enter description</div>
        <div class="upload-images">
            <ion-row>
                <ion-col size="6" class="frm-input" *ngFor="let photo of arrPhotos; let i=index">
                    <img [src]="photo.path" class="image" (click)="uploadImage(i)">
                    <a class="remove-image" (click)="removePhoto(i)">&#215;</a>
                </ion-col>
            </ion-row>
        </div>
    </form>
    <div class="row add-new">
        <ion-button color="primary" (click)="addMorephoto()">Add More Photo</ion-button>
    </div>
</ion-content>
<ion-footer no-border>
    <ion-toolbar transparent>
        <div text-center center>
            <button ion-button full text-uppercase class="enquiry-now" [disabled]="!collectForm.valid" (click)="addProduct()">{{(product_id>0)?'Update' : 'Submit'}} </button>
        </div>
    </ion-toolbar>
</ion-footer>