<!-- style="background: #e4e9f5 !important;"  -->
<ion-app [style]="appStyle?'background: #e4e9f5 !important;':'background: #e4e9f5 !important;'">
    <ion-split-pane>
        <ion-menu>      
            <ion-content>
                <ion-list>
                    <ion-item>
                        <div class="profile-image-menu">
                          <!-- <img [src]="(userdetails.image!='')?upload_url+userdetails.image:image_url+'blankimage.png'" class="profile-img"> -->
                          <ion-label>{{(userdetails.name!="")?userdetails.name:''}}</ion-label>
                        </div>
                    </ion-item>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i=index;">
                        <!-- [routerDirection]="'root'" [routerLink]="[p.url]"  -->
                         <ion-item (click)="openPage(i)" lines="none">
                            <ion-icon slot="start" *ngIf="p.icon!=''" [name]="p.icon" ></ion-icon>
                            <div *ngIf="p.class=='indian-currency'" [class]="p.class">&#8377;</div>

                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false" *ngIf="!loggedInUser">
                        <ion-item routerDirection="root" routerLink="/login/home">
                            <ion-icon slot="start" name="log-in"></ion-icon>
                            <ion-label>
                                Login
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false" *ngIf="loggedInUser">
                        <button class="logout-btn" (click)="logout()">Logout</button>

                        <!-- <ion-item >
                            <ion-icon slot="start" name="log-out"></ion-icon>
                            <ion-label>
                                Logout
                            </ion-label>
                        </ion-item> -->
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>