<ion-header>
	<ion-toolbar>
	    <ion-buttons (click)="setBackButtonAction()">
	        <img class="back-arrow" src="assets/icon/back_button.png" height="auto" width="20px">
	    </ion-buttons>
	    <ion-label>Manage Category</ion-label>
  	</ion-toolbar>
</ion-header>
<ion-content>
  <div class="other-details">
    <div class="product-list">
      <ion-row *ngFor="let item of arrdetails.categories; let i=index;">
        <ion-col size="5" class="product-image">
          <img src={{upload_url}}{{item.image}}>
        </ion-col>
        <ion-col size="7">
          <ion-icon class="edit-btn" name="create" routerDirection="forward" routerLink="/addcategory/{{item.id}}"></ion-icon>
          <div class="product-details">
            <p><strong>{{item.name}}</strong></p>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <div *ngIf="arrdetails.categories.length==0">No category</div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openCategory()">
      <ion-fab-button color="#fc880a">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button> 
    </ion-fab>
  </div>
</ion-content>

