ion-content{
    --background:url(http://happyhelpp.com/gotit/userapp_images/login_bg.jpg) bottom no-repeat;
    .back_arrow_button{
        position: absolute;
        left: 0;
        --background: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --box-shadow: 0;
        --color: #213969;
        top: 1em;
    }
    .logoImage{
        padding: 0em 4em 0.5em;
    } 
    .forgotpassword_button, .send_otp_button{
        --background:#e62228;
        --background-activated:#e62228;
        --background-focused:#e62228;
    }
}
