<ion-content padding>
    <ion-button class="back_arrow_button" (click)="closeCurrentPage()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <img src="{{image_url}}/logo.png" class="logoImage">
    <form class="forgotpassword_form" novalidate *ngIf="!otpSent" [formGroup]="forgotPasswordRequestForm">
          <ion-list>
            <ion-item>
                <!-- <img src="{{image_url}}/mobile_icon.png" class="input_icon"> -->
                <ion-label position="floating"> Mobile*</ion-label>
                <ion-input type="number" name="mobile" formControlName="mobile" [(ngModel)]="forgotpassword.mobile"></ion-input>
            </ion-item>
            <div *ngIf="!forgotPasswordRequestForm.controls['mobile'].valid && !forgotPasswordRequestForm.controls['mobile'].pristine" class="error_message">Please enter 10 digits mobile number</div>
        </ion-list>
        <ion-button expand="block" class="ion-btn" [disabled]="!forgotPasswordRequestForm.valid" (click)="forgot_password_request()">Send OTP</ion-button>
    </form>
    <form class="forgotpassword_form" novalidate *ngIf="otpSent" [formGroup]="forgotPasswordForm">
          <ion-list>
            <ion-item>
                <!-- <img src="{{image_url}}/password_icon.png" class="input_icon"> -->
                <ion-label position="floating"> OTP*</ion-label>
                <ion-input type="password" name="otp" formControlName="otp" [(ngModel)]="forgotpassword.otp"></ion-input>
            </ion-item>
            <div *ngIf="!forgotPasswordForm.controls['otp'].valid && !forgotPasswordForm.controls['otp'].pristine" class="error_message">Please enter minimum 4 digits an OTP</div>
            <ion-item>
                <!-- <img src="{{image_url}}/password_icon.png" class="input_icon"> -->
                <ion-label position="floating"> Password*</ion-label>
                <ion-input type="password" name="newpassword" formControlName="newpassword" [(ngModel)]="forgotpassword.newpassword"></ion-input>
            </ion-item>
            <div *ngIf="!forgotPasswordForm.controls['newpassword'].valid && !forgotPasswordForm.controls['newpassword'].pristine" class="error_message">Please enter minimum 6 characters new password</div>
            <ion-item>
                <!-- <img src="{{image_url}}/password_icon.png" class="input_icon"> -->
                <ion-label position="floating"> Confirm Password*</ion-label>
                <ion-input type="password" name="confirmpassword" formControlName="confirmpassword" [(ngModel)]="forgotpassword.confirmpassword"></ion-input>
            </ion-item>
            <div *ngIf="!forgotPasswordForm.controls['confirmpassword'].valid && !forgotPasswordForm.controls['confirmpassword'].pristine" class="error_message">Please enter minimum 6 characters confirm password</div>
            <div *ngIf="((forgotPasswordForm.controls['confirmpassword'].valid) && (forgotpassword.newpassword) != (forgotpassword.confirmpassword))" class="error_message">New Password & Confirm Password do not match, please try again.</div>
        </ion-list>
        <ion-button expand="block" class="ion-btn" [disabled]="!forgotPasswordForm.valid" (click)="forgot_password()">Submit</ion-button>
    </form>
</ion-content>
