ion-toolbar{
  --background: #fc880a;
}
ion-header {
  background: #fc880a;
  border-radius: 28%;
  padding-bottom: 25px;
  border-radius: 0px 11px 28px 28px;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-left: -80px;
}

ion-app{
    background: #e4e9f5 !important;
}

.ion-page{
    background: #e4e9f5 !important;
}

ion-content{
    --background: #e4e9f5 !important;
    top: -36px;
    .my-collectable{
        padding-top: 60px;
    }
    .head-title{
        color: #757577;
        padding-bottom: 8px;
        margin-top: 43px;
    }
    .banner-image{
        border-radius: 8px;
    }
    ion-card{
        background: #ffffff;
        margin-top: 0px;
        margin-bottom: 0px;
        ion-item{
            color: #86888f;
            padding: 0px 15px 0px 10px;
            ion-label{
                font-size: 15px;
            } 
            .category-cnt{
                text-align: right;
            }
            .arrow-circle{
                color: #c8c7cc;
            }
            .subcat-cnt{
                margin-right: 36px;
                text-align: right;
            }
        }
        .div-sub-cat{
            background-color: #e4e9f5;
        }
        .cat-item{
            background-color: #FFBD77;
        }
        .item-accordion {
          border-bottom: 2px solid white;
          margin-top: -2px;
          margin-bottom: 2px;
          line-height: 15px;
          padding-top: 0;
          padding-bottom: 0;
          transition: 0.09s all linear;
          --background: #e4e9f5;
        }
        .item-accordion.ng-hide {
          line-height: 0px;
        }
        .item-accordion.ng-hide-add,
        .item-accordion.ng-hide-remove {
          display: block !important;
        }
    }
    
}


