<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-label>My Values</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div padding class="head-title">Purchase Values</div>
    <ion-card>
      <div *ngFor="let item of totalValue.perchaseValues; let i=index;" >
        <ion-item class="item-stable">
          <ion-label>{{item.name}}</ion-label>
          <ion-label class='category-cnt'>{{item.price | currency:'INR' : 'symbol' : '1.0-0'}}</ion-label>
          <ion-icon name="{{item.icon}}" class="arrow-circle" (click)="hideShowperchaseValues(i)"></ion-icon>
        </ion-item>

        <div *ngFor="let sub of item.arrsubcategory;" class="div-sub-cat">
          <ion-item  class="item-accordion"  *ngIf="item.is_show" lines="none">
            <ion-label>{{sub.name}}</ion-label>
            <ion-label class='subcat-cnt'>{{sub.price | currency:'INR' : 'symbol' : '1.0-0'}}</ion-label>
          </ion-item>
        </div>
      </div>
    </ion-card>

    <div padding class="head-title">Market Values</div>
    <ion-card>
      <div *ngFor="let item of totalValue.marketValues; let i=index;" >
        <ion-item class="item-stable">
          <ion-label>{{item.name}}</ion-label>
          <ion-label class='category-cnt'>{{item.price | currency:'INR' : 'symbol' : '1.0-0'}}</ion-label>
          <ion-icon name="{{item.icon}}" class="arrow-circle" (click)="hideShowmarketvalue(i)"></ion-icon>
        </ion-item>

        <div *ngFor="let sub of item.arrsubcategory;" class="div-sub-cat">
          <ion-item  class="item-accordion"  *ngIf="item.is_show" lines="none">
            <ion-label>{{sub.name}}</ion-label>
            <ion-label class='subcat-cnt'>{{sub.price | currency:'INR' : 'symbol' : '1.0-0'}}</ion-label>
          </ion-item>
        </div>
      </div>
    </ion-card>
</ion-content>
