<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-searchbar type="text" color="light" placeholder="Search User" clearInput (ionChange)="setFilteredItems($event.target.value)"  [(ngModel)]="searchuser">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-padding >
    <ion-item *ngFor="let chat of chatData; let i=index"  lines="none"  (click)="chatDetails(i)">
      <div class="borderBottomLine"></div>
      <div class="listSection" id="{{i}}">
        <div class="UserimgSection">
          <ion-avatar class="chatImage" slot="start">
            <ion-img [src]="(chat.image=='')?image_url+'blankimage.png':upload_url+chat.image" ></ion-img>
            <!-- <span class="onlineOffline_icon" [ngStyle]="{'background-color':(chat.status === 'online'? '#4cd137' : '#c23616')}"></span> -->
          </ion-avatar>
        </div>
        <div class="usernameSection" padding-start padding>
          <h5>
            <!-- <ion-icon *ngIf="chat.group" name="people" color="medium"></ion-icon> -->
            <!-- <ion-icon name="microphone" *ngIf="chat.broadcast" color="medium"></ion-icon> -->
             {{chat.name}}
            </h5>
          <p class="descText" no-margin no-padding>{{chat.message}}</p>
        </div>
      </div>
      <div slot="end" class="lastSection">
        <ion-note *ngIf="chat.unreadCount || !chat.created_date" class="sendTime">{{chat.created_date | date: "shortTime"}}</ion-note>
	    <ion-badge slot="end" class="userBadge" *ngIf="chat.unreadCount>0">{{chat.unreadCount}}</ion-badge>
	      <!-- <ion-note slot="end" *ngIf="chat.time">{{chat.time}}</ion-note> -->
      </div>
      
    </ion-item>
  </ion-list>
</ion-content>