<ion-header>
	<ion-toolbar>
	    <ion-buttons (click)="setBackButtonAction()">
	        <img class="back-arrow" src="assets/icon/back_button.png" height="auto" width="20px">
	    </ion-buttons>
	    <ion-label>{{categoryName}}</ion-label>
  	</ion-toolbar>
</ion-header>
<ion-content>
  <div class="other-details">
    <div class="product-list">
      <ion-row *ngFor="let item of arrdetails.products; let i=index;" class="rect-angle">
        <ion-col size="5" class="product-image">
          <div class="new-product"><span>NEW</span></div>
          <img *ngIf="item.images[0].images!=''" src={{upload_url}}{{item.images[0].images}}>
          <img *ngIf="item.images[0].images==''" src="assets/icon/noimage.jpg">
        </ion-col>
        <ion-col size="7">
          <div class="product-details">
            <!-- <p class="product-name"><strong style="line-height: 15px;">{{item.name}}</strong></p> -->
            <ion-label>Model No.: <strong>{{item.short_model_no}}</strong></ion-label>
            <ion-label style="padding-bottom: 5px;">Category: <strong>{{item.short_category}}</strong></ion-label>
            <p>Inner Qty: <strong>{{item.inner_qty}}</strong> <ion-icon name="logo-whatsapp" (click)="share(item)"></ion-icon></p>
            <p>Outer Qty: <strong>{{item.outer_qty}}</strong></p>
            <p>Availability: <strong [class]="(item.stock>0)?'green-color':'red-color'">{{ (item.stock>0)?'In Stock':'Out Of Stock' }}</strong></p>
            <ion-row class="row-details" *ngIf="item.stock>0">
               <ion-col size="4">Qty</ion-col>
               <ion-col size="8" class="input-qty"><ion-input type="tel" class="from-input" value="{{item.qty}}" (input)='updateQty($event.target.value,item)'></ion-input></ion-col>
            </ion-row>
            <ion-button class="view-collection" routerDirection="forward" routerLink="/product-details/{{item.id}}">Details</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>

    <!-- <div class="product-list">
      <ion-row *ngFor="let item of arrdetails.products; let i=index;">
        <ion-col size="5" class="product-image">
          <div class="new-product"><span>NEW</span></div>
          <img *ngIf="item.images[0].images!=''" src={{upload_url}}{{item.images[0].images}}>
          <img *ngIf="item.images[0].images==''" src="assets/icon/noimage.jpg">
        </ion-col>
        <ion-col size="7">
          <div class="product-details">
            <p style="line-height: 15px;">Model No.: <strong>{{item.model_no}}</strong></p>
            <p>Category: <strong>{{item.category}}</strong></p>
            <p>Inner Qty: <strong>{{item.inner_qty}}</strong></p>
            <p>Outer Qty: <strong>{{item.outer_qty}}</strong></p>
            <p  [class]="(item.stock>0)?'green-color':'red-color'"><strong>{{ (item.stock>0)?'In Stock':'Out Of Stock' }}</strong></p>
            <ion-row class="row-details" *ngIf="item.stock>0">
               <ion-col size="4">Qty:</ion-col>
               <ion-col size="8" class="input-qty"><ion-input type="tel" class="from-input" value="{{item.qty}}" (input)='updateQty($event.target.value,item)'></ion-input></ion-col>
            </ion-row>
            <ion-button class="view-collection" routerDirection="forward" routerLink="/product-details/{{item.id}}">View Collection</ion-button>
            <ion-icon name="logo-whatsapp" (click)="share(item)"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
    </div> -->

    <div *ngIf="arrdetails.products.length==0">No products</div>

  </div>
</ion-content>
<ion-footer no-border *ngIf="review_products.length>0">
  <ion-toolbar transparent>
    <div slot="start">
        <!-- <a href="whatsapp://send?phone=+919833903340"></a> -->
        <button ion-button full class="enquiry-now">{{review_products.length}} Items</button>
    </div>
    <div slot="end">
        <button ion-button full class="enquiry-now" routerDirection="forward" routerLink="/review-list">Review List</button>
    </div>
  </ion-toolbar>
</ion-footer>
