ion-header{
  ion-toolbar{
      ion-buttons{
          ion-button{
              --background:none;
          }
      }
      ion-menu-button{
          --color: #1e2023;;
      }
  }
}
.enquiry-now{
    background:unset;
    font-weight: bold;
    color:#fff;
    font-size: 15px;
}
.row-details{
  float: right;
  width: 82%;
  max-width: 55%;
  .from-input{
    height: 20px;
    font-size: 16px;
  }
  ion-col{
    font-size: 12px;
  }
  .input-qty{
    background: #80808026;
  }
}
ion-toolbar{
  --background: #fc880a;
}

.other-details{
  padding: 10px 10px 10px 10px;
  ion-searchbar{
    --background: white;
    max-height: 35px;
    border: 1px solid #80808069;
    border-radius: 7px;

    ion-icon {
      right: 16px !important;
      left: auto !important;
    }

  }
  .banner-details{
    border-radius: 3%;
    padding-top: 10px;
  }
  .product-list{
    margin-top: 10px;
    .rect-angle{
       height: 157px;
    }
    ion-row {
      border: 0.5px solid #8080805c;
      border-radius: 5px;
      margin-bottom: 5px;
         
      .product-details{
        padding-left: 5px;
        
        .red-color{
          color:red;
        }
        .green-color{
          color:green;
        }
        p{
          margin-top: 5px;
          line-height: 6px;
          font-size: 14px;
          white-space: nowrap !important;
        }
        ion-label{
          margin-top: 5px;
          font-size: 14px;
          white-space: nowrap !important;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
        }
        .view-collection{
          float: left;
          position: absolute;
          margin-top: 1px;
          height: 30px;
          font-size: 14px;
          --background: linear-gradient(to right, #f1a505 , #ff5e00);
          --border-radius: 5px;
          --border-bottom: unset;
        }
        ion-icon{
          font-size: 30px;
          color: #3da514bf;
          float: right;
          padding-right: 0px;
        }
      }
      .product-image{
        border-right: 0.5px solid #80808029;
        .new-product{
          float: right;
          background: blue;
          position: absolute;
          top: 9%;
          left: 80%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          span{
            padding: 10px 10px 10px 10px;
            color: #fff;
            font-size: 12px;
          }
        }
      }
    }
  }
}
  

  
