<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button><img src="{{image_url}}/white_menu.png"></ion-menu-button>
        </ion-buttons>
        <ion-title>
            My Account
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row class="myaccount_list">
        <ion-col routerDirection="forward" routerLink="/myprofile">
            <ion-icon name="paper" class="myprofile_card_icon"></ion-icon>
            <p>My Profile</p>
        </ion-col>
        <ion-col routerDirection="forward" routerLink="/myorders">
            <ion-icon name="reorder" class="order_card_icon"></ion-icon>
            <p>My Orders</p>
        </ion-col>
    </ion-row>
    <ion-row class="myaccount_list">
        <ion-col routerDirection="forward" routerLink="/mywallet">
            <ion-icon name="wallet" class="mywallet_card_icon"></ion-icon>
            <p>My Wallet</p>
        </ion-col>
        <ion-col routerDirection="forward" routerLink="/changepassword">
            <ion-icon name="unlock" class="password_card_icon"></ion-icon>
            <p>Change Password</p>
        </ion-col>
    </ion-row>
    <ion-row class="myaccount_list">
        <ion-col routerDirection="forward" routerLink="/penaltycharges">
            <ion-icon name="cash" class="penalty_charges_card_icon"></ion-icon>
            <p>Previous Outstanding</p>
        </ion-col>
    </ion-row>
</ion-content>
