ion-content{
    .myaccount_list{
        ion-col{
           text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 5px 0px 5px;
                ion-icon{
                    font-size:3.2em;
                }
                .order_card_icon{
                    color:#673ab7;
                }
                .mywallet_card_icon{
                    color:#00BCD4;
                }
                .myprofile_card_icon{
                    color:#009688;                    
                }
                .service_request_card_icon{
                   
                    color:#E91E63;                    
                }
                .password_card_icon{
                    color:#ff9800;                    
                }
                .penalty_charges_card_icon{
                    color:#ff5722;                    
                }
                p{
                    font-size: 13px;
                }
            /*}*/
        }
    }
}
