ion-toolbar{
    --background: #fc880a;
  }
  ion-header {
    background: #fc880a;
    border-radius: 28%;
    padding-bottom: 25px;
    border-radius: 0px 11px 28px 28px;
  }
  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: -80px;
  }
ion-content{  
    .submit_button{        
         --background:#233969;
        --background-activated:#233969;
        --background-focused:#233969;
    }
    .profile-img {
	    border-radius: 50% !important;
	    width: 100px !important;
	    height: 100px !important;
	    border: 1px solid #dfdfdf !important;
	    object-fit: cover !important; 	
	    object-position: center !important;
	}
	.txt-center{
		text-align: center;
	}

}
