<ion-header>
    <ion-toolbar>
    <ion-buttons>
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-label>My Profile</ion-label>
  </ion-toolbar>
</ion-header>
<ion-content padding>
    <form novalidate [formGroup]="profileForm">
          <ion-list>
          	<div  class="login-input-box txt-center">
		        <img class="profile-img" src="{{image!=''?image:image_url+'blankimage.png'}}"  height="150px;" width="150px;">
		        <img src="{{image_url}}/cam.png" class="pick_image_icon" (click)="uploadImage()">

		    </div>

          	<ion-item>
                <img src="{{image_url}}/user.png" class="input_icon" slot="start">
                <ion-label position="floating"> Name*</ion-label>
                <ion-input name="name" formControlName="name"  [(ngModel)]="profile.name"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls['name'].valid && !profileForm.controls['name'].pristine" class="error_message">Please enter a name</div>
            
            <ion-item>
                <img src="{{image_url}}/mobile_icon.png" class="input_icon" slot="start">
                <ion-label position="floating"> Mobile*</ion-label>
                <ion-input type="number" name="mobile" formControlName="mobile"  [(ngModel)]="profile.mobile"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls['mobile'].valid && !profileForm.controls['mobile'].pristine" class="error_message">Please enter 10 digits mobile number</div>

            <ion-item>
                <img src="{{image_url}}/mail_icon.png" class="input_icon" slot="start">
                <ion-label position="floating"> Email*</ion-label>
                <ion-input type="email" name="email" formControlName="email"  [(ngModel)]="profile.email"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls['email'].valid && !profileForm.controls['email'].pristine" class="error_message">Please enter a valid email address</div>

            <ion-item>
            	<img src="{{image_url}}/calender.png" class="input_icon" slot="start">
                <ion-label position="floating">Date of Birth*</ion-label>
                <ion-datetime display-format="MMM DD, YYYY" name="dob" formControlName="dob" [(ngModel)]="profile.dob"></ion-datetime>
            </ion-item>
            <div *ngIf="!profileForm.controls['dob'].valid && !profileForm.controls['dob'].pristine" class="error_message">Please select date of birth</div>


            <ion-item>
            	<img src="{{image_url}}/user.png" class="input_icon" slot="start">
                <ion-label position="floating">Gender*</ion-label>
                <ion-select name="gender" formControlName="gender" [(ngModel)]="profile.gender" interface="popover">
                    <ion-select-option value="Female">Female</ion-select-option>
                    <ion-select-option value="Male">Male</ion-select-option>
                </ion-select>
            </ion-item>
            <div *ngIf="!profileForm.controls['gender'].valid && !profileForm.controls['gender'].pristine" class="error_message">Please select a gender</div>

            <ion-item>
                <img src="{{image_url}}/location.png" class="input_icon" slot="start">
                <ion-label position="floating"> Location*</ion-label>
                <ion-input type="text" name="location" formControlName="location"  [(ngModel)]="profile.location"></ion-input>
            </ion-item>
            <div *ngIf="!profileForm.controls['location'].valid && !profileForm.controls['location'].pristine" class="error_message">Please enter location</div>

        </ion-list>
        <ion-button expand="block" class="submit_button ion-btn" [disabled]="!profileForm.valid" (click)="change_profile_details()">Submit</ion-button>
    </form>
</ion-content>