ion-toolbar{
    --background: #fc880a;
}
ion-header {
    background: #fc880a;
    border-radius: 28%;
    padding-bottom: 25px;
    border-radius: 0px 11px 28px 28px;
}
ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-left: -80px;
}
ion-content{
    ion-segment-button{
      padding: 0;
      border: none;
      background: none;
      color: black;
    }
    ion-segment{
      border-bottom: 2px solid #d9d9d9;
    }
    .segment-button-checked{
      border-bottom: 2px solid #fc880a;
    }
    ion-list{
        div{
            ion-item{
                ion-img{
                    width: 90%;
                    height: 90%;
                }
                .btn-remove{
                    ion-button{
                        font-size: 11px;
                        --background: none;
                        color: #000000;
                        border: 2px solid #f4f5f8;
                        border-radius: 4px;
                    }
                    .btn-follow{
                        font-size: 11px;
                        background: #2d75f2;; 
                        color:white;
                        height: 26px;
                        border-radius: 4px;
                    }
                    .btn-following{
                        --background: none;
                        color: #000000;
                        height: 25px;
                    }
                }
                .listSection{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .usernameSection{
                        h5{
                            font-size: 15px;
                            span{
                                color:blue;
                            }
                        }
                        overflow: hidden;
                        padding-top: 0;
                        padding-bottom: 15px;
                        .descText{
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            width:100%;
                            color:#BFC3C6;
                            font-size: 16px;
                        }
                    }
                    .UserimgSection{
                        position: relative;
                    }
                    
                }
                .borderBottomLine {
                    display: block;
                    width: 100%;
                    position: absolute;
                    border-bottom: 1px solid #cfcfd1;
                    height: 100%;
                    left: 21%;
                }
            }
        }
    }
}