<ion-header>
	<ion-toolbar>
	    <ion-buttons (click)="setBackButtonAction()">
	        <img class="back-arrow" src="assets/icon/back_button.png" height="auto" width="20px">
	    </ion-buttons>
	    <ion-label>{{userName}}</ion-label>
  	</ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment [(ngModel)]="profile_segment" class='story'>
       <ion-segment-button class="story_scroll"  size="4" value="Followers">Followers({{follow_details.followers.length}})</ion-segment-button>
       <ion-segment-button class="story_scroll"  size="4" value="Following">Following({{follow_details.following.length}})</ion-segment-button>
    </ion-segment>
	
	<ion-list>
		<div [ngSwitch]="profile_segment">
			<div *ngSwitchCase="'Followers'">
			    <ion-item *ngFor="let item of follow_details.followers; let i=index"  lines="none">
			      <div class="borderBottomLine"></div>
			      
			      <div class="listSection" id="{{i}}">
			        <div class="UserimgSection" slot="start">
			          <ion-avatar class="chatImage" slot="start" routerDirection="forward" routerLink="/profile/{{item.id}}">
			            <ion-img [src]="(item.image=='')?image_url+'blankimage.png':upload_url+item.image" ></ion-img>
			          </ion-avatar>
			        </div>
			        <div class="usernameSection" padding-start padding>
			          <h5> {{item.name}}</h5>
			        </div>
			      </div>

			      <div class="btn-remove" slot="end">
			      	<!-- <ion-button *ngIf="item.is_follow" class="btn-following">Following</ion-button>  -->
			      	<ion-button *ngIf="!item.is_follow && userId!=login_user_id && login_user_id!=item.id" class="btn-follow" (click)="followuser(i)">+Follow</ion-button> 

		        	<ion-button *ngIf="userId==login_user_id || login_user_id==item.id" (click)="unfollow_user(i)">Remove</ion-button> 
		          </div>
			    </ion-item>

			</div>
			<div *ngSwitchCase="'Following'">
				<ion-item *ngFor="let item of follow_details.following; let i=index"  lines="none">
			      <div class="borderBottomLine"></div>
			      <div class="listSection" id="{{i}}">
			        <div class="UserimgSection">
			          <ion-avatar class="chatImage" slot="start" routerDirection="forward" routerLink="/profile/{{item.id}}">
			            <ion-img [src]="(item.image=='')?image_url+'blankimage.png':upload_url+item.image" ></ion-img>
			          </ion-avatar>
			        </div>
			        <div class="usernameSection" padding-start padding>
			          <h5> {{item.name}}</h5>
			          <!-- <p class="descText" no-margin no-padding>testingg</p> -->
			        </div>
			      </div>
			      <div class="btn-remove" slot="end">
			      	<ion-button *ngIf="userId==login_user_id || login_user_id==item.id" class="btn-following" (click)="unfollowing_user(i)">Following</ion-button> 

			      	<ion-button *ngIf="userId!=login_user_id && login_user_id!=item.id" class="btn-following">Following</ion-button> 

		          </div>
			    </ion-item>
			</div>
		</div>
	</ion-list>
</ion-content>
