ion-content{
    --background:url(http://happyhelpp.com/gotit/userapp_images/login_bg.jpg) bottom no-repeat;
    img{
        margin-left: 8px;
    }
    .back_arrow_button{
        position: absolute;
        left: 0;
        --background: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --box-shadow: 0;
        --color: #213969;
        top: 1em;
    }
    .logoImage{
        padding: 0em 4em 0.5em;
    } 
    .signup_form{
        ion-list{
            ion-item{
                --min-height:25px;
            }
        }
    }
    h3{
        margin-top: 0px;
    }
}
