<ion-content padding>
    <ion-button class="back_arrow_button" (click)="closeCurrentPage()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    <img src="{{image_url}}/logo.png" class="logoImage">
    <form class="signup_form" novalidate [formGroup]="signupForm">
            <ion-list>
                <ion-row class='row-text'>
                    <ion-col class="ion-text-center lbl-title"><h3>Register</h3>
                    <div class="horizontal_left_line"></div><div class="horizontal_right_line"></div>
                </ion-col>
            </ion-row>
            <ion-item>
                <img src="{{image_url}}/user.png" class="input_icon" slot="start">
                <ion-label position="floating"> Name*</ion-label>
                <ion-input name="name" formControlName="name"  [(ngModel)]="signup.name"></ion-input>
            </ion-item>
             <div *ngIf="!signupForm.controls['name'].valid && !signupForm.controls['name'].pristine" class="error_message">Please enter a name</div>

            <ion-item>
                <img src="{{image_url}}/mail_icon.png" class="input_icon" slot="start">
                <ion-label position="floating"> Email*</ion-label>
                <ion-input type="email" name="email" formControlName="email"  [(ngModel)]="signup.email"></ion-input>
            </ion-item>
            <div *ngIf="!signupForm.controls['email'].valid && !signupForm.controls['email'].pristine" class="error_message">Please enter a valid email address</div>

            
            <ion-item>
                <img src="{{image_url}}/mobile_icon.png" class="input_icon" slot="start">
                <ion-label position="floating"> Mobile*</ion-label>
                <ion-input type="number" name="mobile" formControlName="mobile"  [(ngModel)]="signup.mobile"></ion-input>
            </ion-item>
            <div *ngIf="!signupForm.controls['mobile'].valid && !signupForm.controls['mobile'].pristine" class="error_message">Please enter 10 digits mobile number</div>

            <ion-item>
                <img src="{{image_url}}/location.png" class="input_icon" slot="start">
                <ion-label position="floating"> Location*</ion-label>
                <ion-input type="text" name="location" formControlName="location"  [(ngModel)]="signup.location"></ion-input>
            </ion-item>
            <div *ngIf="!signupForm.controls['location'].valid && !signupForm.controls['location'].pristine" class="error_message">Please enter location</div>

            <ion-item>
                <img src="{{image_url}}/password_icon.png" class="input_icon" slot="start">
                <ion-label position="floating">Password*</ion-label>
                <ion-input type="password" name="password" formControlName="password" [(ngModel)]="signup.password"></ion-input>
            </ion-item>
            <div *ngIf="!signupForm.controls['password'].valid && !signupForm.controls['password'].pristine" class="error_message">Please enter a minimum 6 characters password</div>

            <ion-item>
                <img src="{{image_url}}/password_icon.png" class="input_icon" slot="start">
                <ion-label position="floating">Confirm Password*</ion-label>
                <ion-input type="password" name="confirmpassword" formControlName="confirmpassword" [(ngModel)]="signup.confirmpassword"></ion-input>
            </ion-item>
            <div *ngIf="!signupForm.controls['confirmpassword'].valid && !signupForm.controls['confirmpassword'].pristine" class="error_message">Please enter a minimum 6 characters confirm password</div>
            <div *ngIf="((signupForm.controls['confirmpassword'].valid) && (signup.password) != (signup.confirmpassword))" class="error_message">New Password & Confirm Password do not match, please try again.</div>
       </ion-list>
        <ion-button expand="block" class="ion-btn" [disabled]="!signupForm.valid" (click)="doSignUp()">Sign Up</ion-button>
    </form>
</ion-content>
