ion-content{
    --background:url(http://happyhelpp.com/gotit/userapp_images/login_bg.jpg) bottom no-repeat;
    .back_arrow_button{
        position: absolute;
        left: 0;
        --background: transparent;
        --background-activated: transparent;
        --background-focused: transparent;
        --box-shadow: 0;
        --color: #213969;
        top: 1em;
    }
    .logoImage{
        padding: 0em 4em 0.5em;
    } 
    .resend_otp_button{        
        --background: #21386b;
        --background-activated: #21386b;
        --background-focused: #21386b;
        font-size: 10px;
        height: 22px;
        float: right;
    }
    .mobileverification_button{
        --background:#e62228;
        --background-activated:#e62228;
        --background-focused:#e62228;
    }
}