<ion-content padding> 
    <!--<ion-button class="back_arrow_button" (click)="closeCurrentPage()"><ion-icon name="arrow-back"></ion-icon></ion-button>-->
    <img src="{{image_url}}/logo.png" class="logoImage">
    <form class="mobileverification_form" novalidate [formGroup]="mobileverificationForm">
        <ion-list>
            <ion-item>
                <img src="{{image_url}}/mobile_icon.png" class="input_icon" slot="start">
                <ion-label position="floating"> OTP*</ion-label>
                <ion-input type="number" name="otp" formControlName="otp" [(ngModel)]="mobileverification.otp"></ion-input>
            </ion-item>

            <div *ngIf="!mobileverificationForm.controls['otp'].valid && !mobileverificationForm.controls['otp'].pristine" class="error_message">Please enter a minimum 4 digits OTP</div>
        </ion-list>
        <ion-button class="resend_otp_button ion-btn" (click)="resend_otp()">Resend OTP</ion-button>
        <ion-button expand="block" class="ion-btn" [disabled]="!mobileverificationForm.valid" (click)="verify_mobile()">Sign Up</ion-button>
    </form>
</ion-content>