ion-toolbar{
    --background: #fc880a;
}
ion-header {
  background: #fc880a;
  border-radius: 28%;
  padding-bottom: 25px;
  border-radius: 0px 11px 28px 28px;
}
ion-content{
	.plan-details{
		padding-top: 0px;
	}
	ion-grid{
		ion-slides{
			padding-left: 10px;
    		padding-right: 10px;
		}
	}
	ion-card{
		border-radius: unset;
    	min-height: 625px;
		border: 2px solid #000000;
		.div-img{
			 margin: 18px 110px;
			 margin-bottom: 10px;
			 img{
			 	max-width: 55px;
				max-height: 55px;
			 }
		}
		.div-head{
			 ion-label{
				display: block;
			    text-transform: uppercase;
			    color: #000000;
			    margin-top: 17px;
			    font-weight: bold;
			    letter-spacing: 2px;
			    font-size: 18px;
			}
		}
		.student-header{
			background: #50c8ff8a;
		}
		.hobby-header{
			background: #ffce00b8;
		}
		.collector-header{
			background: #f04141c9;
		}
		ion-card-header{
			margin-top: 20px;
			ion-card-content{
				padding-top: 0px;
    			height: 60px;
    			img{
    				padding-left: 90px;
    			}
    			
			}
			ion-card-content{
				ion-label{
					display: block;
				    text-transform: uppercase;
				    color: #000000;
				    margin-top: 17px;
				    font-weight: bold;
				    letter-spacing: 2px;
				}
				ion-icon{
					color: #000000;
    				font-size: 50px;
				}
			}
		}
		ion-row{
			.price-details{
				margin-left: 90px;
				margin-bottom: -17px;
				ion-label{
					font-size: 25px;
				    font-weight: 200;
				    color: black;
				    font-weight: 550;
				}
			}
			ion-item{
				ion-icon{
					margin-left: 15px;
				}
			}
		}
		.other-details{
    		 font-weight: 500;
    		 margin-top: 25px;
    		.dynmaic-field{
			    margin-bottom: 20px;
			    font-size: 15px;
			    font-weight: 500;
			    color: black;
    			ion-icon{
    				color: #000000f0;
				    font-size: 17px;
				    padding-right: 6px;
    			}
    		}
    		.comming-soon-field{
			    margin-bottom: 9px !important;
			    font-size: 21px;
			    font-weight: 700;
			    color: black;
    		}
		}
		.btn-buy{
			margin-top: 35px;
    		margin-bottom: 20px;
    		.btn-student{
    			display: flex;
			    justify-content: center;
			    align-content: center;
			    align-items: center;
			    height: 35px;
			    width: 101px;
			    background: blue;
			    margin-left: 90px;
    			--border-radius: unset !important;
    			color: #fff;
    			background-color: #000000;
    			ion-label{
    				font-weight: bold;
    				padding-top: 0px;
    			}
    		}
    		.btn-hobby{
    			--border-radius: unset !important;
    			--background: #ffce00b8;
    		}
    		.btn-collector{
    			--border-radius: unset !important;
    			--background: #f04141c9;
    		}
    		ion-button{
    			height: 35px;
    			width: 101px;
    		}
		}
	}
}