<ion-header>
	<ion-toolbar>
		<ion-buttons (click)="setBackButtonAction()">
	        <img class="back-arrow" src="assets/icon/back_button.png" height="auto" width="20px">
	    </ion-buttons>
	    <ion-title>Subscriptions</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="plan-details">
		<ion-slides [options]="sliderConfig">
			<ion-slide *ngFor="let item of plans; let i=index;">
                <div>
                  <ion-card>
                  	<!-- [style.background-color]="item.box_color" -->
                  	<div class="div-img">
                  		<img [src]="(item.icon!='' && item.icon!=null)?image_url+item.icon:image_url+'collector.png'">
                  	</div>
                    <div class="div-head">
                        <ion-label>{{item.name}}</ion-label>
                    </div>
                    <ion-row >
                    	<ion-card-content class="ion-text-start price-details">
	                        <ion-label>{{item.price | currency:'INR' : 'symbol' : '1.0-0'}}</ion-label>
	                    </ion-card-content>
	                </ion-row >
	                <div class="other-details">
		                <div *ngFor="let field of item.display_fields;">
		                    <div class="dynmaic-field" *ngIf="field.header==''">
		                    	<ion-icon [name]="field.is_exist?'checkmark':'close'"></ion-icon>
		                    	<ion-label>{{field.name}}</ion-label>
		                    </div>
                        <div class="comming-soon-field" *ngIf="field.header!=''">
                          <ion-label>{{field.header}}</ion-label>
                        </div>
		                </div>
	                </div>
                    <div class="btn-buy">
                    	<div text-center *ngIf="!item.plan_purchased" class="btn-student" (click)="buynow(i)"><ion-label>Buy Now</ion-label></div>
                    	<!-- [style.background-color]="item.box_color" -->
                    	<div text-center *ngIf="item.plan_purchased"  class="btn-student"><ion-label>Purchased</ion-label></div>
                    	
                    </div>
                  </ion-card>
                </div>
            </ion-slide>
        </ion-slides>
	</div>
	 <ion-grid *ngIf="showBanner">
      <ion-slides  *ngIf="sliders && sliders.length" autoplay="3000" pager="true" loop="true" speed="300">
        <ion-slide *ngFor="let slide of sliders" class='ion-sliders'>
          <img src={{upload_url}}{{slide.image}} class="banner-image">
        </ion-slide>
      </ion-slides>
    </ion-grid>
</ion-content>
