<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-label>User Details</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row padding>
    <!-- Avatar -->
    <ion-col col-3>
      <img [src]="(user_details.image=='')?image_url+'blankimage.png':upload_url+user_details.image" class="avatar" alt="">
    </ion-col>
    <!-- Information about user -->
    <ion-col col-3 text-center >
      <h6>{{other_details.postCnt}}</h6>
      <p no-padding no-margin>Posts</p>
    </ion-col>
    <ion-col col-3 text-center routerDirection="forward" routerLink="/followers/{{userId}}/Followers/{{user_details.name}}">
      <h6>{{other_details.followersCnt}}</h6>
      <p no-paddin no-margin>Followers</p>
    </ion-col>
    <ion-col col-3 text-center routerDirection="forward" routerLink="/followers/{{userId}}/Following/{{user_details.name}}">
      <h6>{{other_details.followingCnt}}</h6>
      <p no-paddin no-margin>Following</p>
    </ion-col>
  </ion-row>

  <!-- Edit/follow button -->
  <div padding class="user-name">
    <p no-margin no-padding><b>{{user_details.name}}</b></p>
  </div>

  <div padding text-center class="div-follow" *ngIf="user_details.id!=user_details.login_user_id">
    <button class="edit-button" *ngIf="other_details.is_follow>0">Following</button>
    <button class="follow-button" *ngIf="other_details.is_follow==0" (click)="followUser()">+Follow</button>
  </div>

  <div>
    <ion-segment [(ngModel)]="profile_segment" class='story'>
      <ion-segment-button class="story_scroll"  size="4" value="All">All</ion-segment-button>
      <ion-segment-button *ngFor="let s of arrdetails" class="story_scroll"  size="4" value="{{s.category_name}}">{{s.category_name}}</ion-segment-button>
    </ion-segment>
  </div>

  <!-- Segment content -->
  <div [ngSwitch]="profile_segment">
    <div>
      <div *ngSwitchCase="'All'" >
        <ion-grid>
          <ion-row>
              <ion-col size="4" class="grid_img" *ngFor="let i of allImageList" class="ion-col">
                <img [src]="(i.images!='' && i.images!=null)?upload_url+i.images:image_url+'no-product-image.png'" class="banner-image" routerDirection="forward" routerLink="/product-details/{{i.productId}}/profile">
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>

    <div *ngFor="let s of arrdetails; let scindex=index;">
      <div *ngSwitchCase="s.category_name">
        <ion-grid>
          <ion-row>
              <ion-col size="4" class="grid_img" *ngFor="let i of s.imageDetails" class="ion-col">
                <img [src]="(i.images!='' && i.images!=null)?upload_url+i.images:image_url+'no-product-image.png'" class="banner-image" (click)="viewImage(i.images)" routerDirection="forward" routerLink="/product-details/{{i.productId}}/profile">
                
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>

