/* Profile avatar */
ion-toolbar{
  --background: #fc880a;
}
ion-header {
  background: #fc880a;
  border-radius: 28%;
  padding-bottom: 25px;
  border-radius: 0px 11px 28px 28px;
}
ion-title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-left: -80px;
}
.avatar {
  border-radius: 50%;
  position: absolute;
  height: 85px;
  width: 85px;
}

/* Small for notifications */
.badge-container {
  position: relative;
}
.user-name{
  float:left;
  font-size: 15px;
}
.user-info{
  clear: both;
  padding-left: 16px;
}
.div-follow{
  float:right;
}
.custom-badge {
  position:absolute; 
  top:5px; 
  left:15px; 
  border-radius: 100%; 
  color: #fff; 
  font-size: 12px !important;
  padding: 4px; 
  font-weight: bold;
}

.info {
  padding-top: 4px;
}

/* Profile edit button */
.edit-button {
  background: #fff; 
  border: 1px solid #ccc; 
  font-size: 13px; 
  border-radius: 3px;
  padding: 5px;
  font-weight: bold;
  width: 100%;
  margin-right: 30px;
}
.follow-button{
  background: #fc880a; 
  border: 1px solid #ccc; 
  font-size: 13px; 
  border-radius: 3px;
  padding: 5px;
  font-weight: bold;
  width: 100%;
  margin-right: 30px;
  color:white;
  height: 30px;
}

.edit-button:active {
  border-color: #dce2ed;
}
ion-segment-button{
  padding: 0;
  border: none;
  background: none;
  color: black;
}
ion-segment{
  border-bottom: 2px solid #d9d9d9;
}
.segment-button-checked{
  border-bottom: 2px solid #fc880a;
}
.swiper-slide {
  padding-right: 10px;
  font-size: 14px;
}
.profile-name{
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
}
.icon-space{
  width: 25px;
}
.icon-btn{
  background:white;
}
.banner-image{
  display: inline-grid;
  list-style: none;
  font-size: 11px;
  text-align: center;
  position: relative;
  height: 100px;
}
.ion-col{
  border: 5px solid #f5f6f9;
  text-align: center;
}

