<ion-header>
	<ion-toolbar>
	    <ion-buttons (click)="setBackButtonAction()">
	        <img class="back-arrow" src="assets/icon/back_button.png" height="auto" width="20px">
	    </ion-buttons>
	    <ion-label>Manage Products</ion-label>
  	</ion-toolbar>
</ion-header>
<ion-content>
  <div class="other-details">
    <ion-row>
        <ion-col size="7">
          <ion-searchbar class="search_field" [(ngModel)]="searchdata" placeholder="Search Products" (ionChange)="searchProducts()"></ion-searchbar>
        </ion-col>
        <ion-col size="5">
          <ion-select ok-text="Okay" placeholder="Category" cancel-text="Dismiss" [(ngModel)]="category_id" interface="popover" (ionChange)="searchProducts()">
              <ion-select-option>Please select</ion-select-option>
              <ion-select-option *ngFor="let item of arrcategory" value="{{item.id}}">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-col>
    </ion-row>
    
    <div class="product-list">
      <ion-row *ngFor="let item of arrdetails.products; let i=index;">
        <ion-col size="5" class="product-image">
          <img *ngIf="item.images[0].images!=''" src={{upload_url}}{{item.images[0].images}}>
          <img *ngIf="item.images[0].images==''" src="assets/icon/noimage.jpg">
        </ion-col>
        <ion-col size="7">
          <ion-icon class="edit-btn" name="create" routerDirection="forward" routerLink="/add-product/{{item.id}}"></ion-icon>
          <ion-icon class="delete-btn" name="trash" (click)="deleteProduct(item.id)"></ion-icon>
          <div class="product-details">
            <p style="line-height: 15px;">Model No.: <strong>{{item.model_no}}</strong></p>
            <p>Category: <strong>{{item.category}}</strong></p>
            <p>Inner Qty: <strong>{{item.inner_qty}}</strong></p>
            <p>Outer Qty: <strong>{{item.outer_qty}}</strong></p>
            <p>Live: <strong *ngIf="!item?.is_live" class="red-color">No</strong> <strong *ngIf="item?.is_live">Yes</strong>
            </p>
            <p  [class]="(item.stock>0)?'green-color':'red-color'"><strong>{{ (item.stock>0)?'In Stock':'Out Of Stock' }}</strong></p>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div *ngIf="arrdetails.products?.length==0">No products</div>

  </div>
</ion-content>

