// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
//dddcdc - light gray
//label color #525252 -light black
//small labels color #7e7e7e -light gray
// dark black color #232323
// logo blue color #233969
// logo red color #e62228

ion-item{  
    --highlight-color-focused: transparent !important;  
    --highlight-color-valid: transparent !important; 
    --highlight-color-invalid: transparent !important;  
    ion-select{
	    .select-icon-inner{
	        color: #FF8500 !important;
	        font-size: 16px !important;
	    }
    }
}
ion-toast{
	.toast-container{
		background: #FF8500;
    	color: #fff;
	}
	
}
ion-alert{
	.alert-head.sc-ion-alert-ios {
	    border-bottom: .55px solid rgba(var(--ion-text-color-rgb,0,0,0),.2);
	}
	.alert-message.sc-ion-alert-ios{
		padding: 12px 16px 21px;
	}
	.alert-button.sc-ion-alert-ios{
		border-top: none;
		border-right: none;
	}
	.alert-wrapper.sc-ion-alert-ios {
		border-radius: 0px;
	}
	.btn-yes{
		span{
		    background: #FF8500;
		    height: 27px !important;
		    width: 80px !important;
    		margin-left: 30px;
		    color:#ffffff;
		    border-radius: 4px;
		}
	}
	.btn-no{
		span{
		    background: #825727;
		    height: 27px !important;
		    width: 80px !important;
    		margin-left: 4px;
		    color:#ffffff;
		    border-radius: 4px;
		}
	}
	.btn-center{
		span{
			background: #FF8500;
		    height: 27px !important;
		    width: 80px !important;
		    margin-left: 80px;
		    color: #ffffff;
		    border-radius: 4px;
		}
	}

	/*.alert-head{
		background: #FF8500;
	}
	.alert-title.sc-ion-alert-ios{
		color :#f5f6f9;
	}
	[aria-checked=true].sc-ion-alert-ios .alert-radio-inner.sc-ion-alert-ios{
		border-color:#825727;
	}
	[aria-checked=true].sc-ion-alert-ios .alert-radio-label.sc-ion-alert-ios {
		color:#825727;
	}
	.alert-button.sc-ion-alert-ios {
		background: #825727;
		color :#f5f6f9;
	}*/
}
.header-ios ion-toolbar:last-child {
    --border-width: 0px;
}
ion-header{
    background: #FF8500;
    border-radius: 28%;
    border-radius: 49px 7px 41px 42px;

    ion-toolbar{
    	--color: #222428;
    	.back-arrow{
    		width: 18px;
		    height: 17px;
		    margin-left: 23px;
    	}
    	ion-label{
    		position: absolute;
		    top: 0;
		    left: 0;
		    margin: 15px 65px 0px;
		    color: #ffffff;
		    font-size: 17px;
		    font-weight: bold;
    	}
    }
    .sc-ion-back-button-ios-h {
    	color :#f5f6f9;
    }
}
ion-menu{
	--width: 238px;
	/* ion-content{
		--background: linear-gradient(197deg, #FF8500 0%, #FF8500 13.5%, #FF8500 33.33%,#825727 100%) !important;
	}
	ion-item{
		--background: #825727;
    	color: #ffffff;
    	.icon-inner svg {
    		display:none;
    	}
	}*/
}
h3{
	color: #825727;
}
.error-msg{
	text-align: center;
    color: red;
}
.swiper-pagination-bullet-active{
	background: #f5f6f9;
    border: 1px solid #f5f6f9;
}
.swiper-pagination-bullet{
	border: 1px solid #f5f6f9 !important;
}
.rightside-logo{
	width: 50px !important;
}

.item.sc-ion-label-ios-h, .item .sc-ion-label-ios-h{
	white-space: pre-wrap;
}
.popover-arrow.sc-ion-popover-ios{
    right:0px !important;
    
}
.popover-content.sc-ion-popover-ios{
	right:0px !important;
}
.gray-background{
	background: #e4e9f5 !important;
}
.my-custom-modal-css{
   height: auto;
   top: 6%;
   position: absolute; 
}
 
ion-checkbox{
	--background-checked: #825727;
    --border-color-checked: #825727;
}  
.indian-currency{
	font-size: 20px;
    padding-right: 17px;
}
