<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false">  
            </ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end" class="header_right_list">

            <ion-button routerDirection="forward" routerLink="/notification">
              <img [src]="sanitizer.bypassSecurityTrustResourceUrl(image_url+'notification.png')" class='notificationicon'>
              <ion-badge *ngIf="notificationCnt>0">{{notificationCnt}}</ion-badge>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content>
  <ion-slides class="product_banner_slider" [options]="slideOptsOne">
    <ion-slide *ngFor="let item of banner_details.top_banner;">        
        <img [src]="sanitizer.bypassSecurityTrustResourceUrl(upload_url+item.image)">
    </ion-slide>
  </ion-slides>

  <div class="other-details">
    <ion-searchbar class="search_field" [(ngModel)]="searchdata" placeholder="Search Products" (ionChange)="searchProducts()"></ion-searchbar>

    <ion-slides [options]="sliderConfig" class='story' *ngIf="arrdetails.categories.length>0">
      <!-- routerDirection="forward" routerLink="/profile/{{s.id}}" -->
      <ion-slide *ngFor="let s of arrdetails.categories" class="story_scroll" routerDirection="forward" routerLink="/category-details/{{s.id}}/{{s.name}}">
        <div class="story_img_bg">
        <img no-margin no-padding class="story_img" [src]="(s.image=='')?image_url+'blankimage.png':upload_url+s.image"></div>
        <p no-margin no-padding text-center class="story_text">{{ s.name }}</p>
      </ion-slide>
    </ion-slides>

    <ion-slides class="banner-details" [options]="slideOptsTwo">
      <ion-slide *ngFor="let item of banner_details.middle_banner;">        
          <img [src]="sanitizer.bypassSecurityTrustResourceUrl(upload_url+item.image)">
      </ion-slide>
    </ion-slides>

    <div class="product-list">
      <ion-row *ngFor="let item of arrdetails.products; let i=index;">
        <ion-col size="5" class="product-image">
          <div class="new-product"><span>NEW</span></div>
          <img *ngIf="item.images[0].images!=''" src={{upload_url}}{{item.images[0].images}}>
          <img *ngIf="item.images[0].images==''" src="assets/icon/noimage.jpg">
        </ion-col>
        <ion-col size="7">
          <div class="product-details">
            <!-- <p class="product-name"><strong style="line-height: 15px;">{{item.name}}</strong></p> -->
            <p>Model No.: <strong>{{item.short_model_no}}</strong></p>
            <p>Category: <strong>{{item.short_category}}</strong></p>
            <p>Inner Qty: <strong>{{item.inner_qty}}</strong> <ion-icon name="logo-whatsapp" (click)="share(item)"></ion-icon></p>
            <p>Outer Qty: <strong>{{item.outer_qty}}</strong></p>
            <p>Availability: <strong [class]="(item.stock>0)?'green-color':'red-color'">{{ (item.stock>0)?'In Stock':'Out Of Stock' }}</strong></p>
            <ion-row class="row-details" *ngIf="item.stock>0">
               <ion-col size="4">Qty</ion-col>
               <ion-col size="8" class="input-qty"><ion-input type="tel" class="from-input" value="{{item.qty}}" (input)='updateQty($event.target.value,item)'></ion-input></ion-col>
            </ion-row>
            <ion-button class="view-collection" routerDirection="forward" routerLink="/product-details/{{item.id}}">Details</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </div>

  </div>
</ion-content>

<ion-footer no-border *ngIf="review_products.length>0">
  <ion-toolbar transparent>
    <div slot="start">
        <!-- <a href="whatsapp://send?phone=+919833903340"></a> -->
        <button ion-button full class="enquiry-now">{{review_products.length}} Items</button>
    </div>
    <div slot="end">
        <button ion-button full class="enquiry-now" routerDirection="forward" routerLink="/review-list">Review List</button>
    </div>
  </ion-toolbar>
</ion-footer>
