ion-header{
    ion-title{
        text-align: center;
    }
    .menu_icon{
        width:89%;
    }
    ion-toolbar{
        ion-buttons{
            ion-button{
                --background:none;
            }
        }
        ion-menu-button{
            --color: #fc880a;
        }
    }
    
}
ion-content{   
    ion-grid{
        border: 1px solid #8080801f;
        padding-top: 12px;
        padding-bottom: 12px;

        ion-row{
            ion-col{
                text-align : center;
                .brands-col{
                    padding-top: 6px;
                    height: 49px;
                    text-align: center;
                    border: 1px solid #825727;
                    border-radius: 5px;
                    ion-label{
                        font-size: 12px;
                    }
                    .my-count{
                        font-weight:bold;
                    }
                }

            }
        }

        .myaccount_list{
            ion-col{
               text-align: center;
                border: 1px solid #825727;
                border-radius: 5px;
                margin: 10px 5px 0px 5px;
                ion-icon{
                    font-size:3.2em;
                }
                .order_card_icon{
                    color:#673ab7;
                }
                .card_icon{
                    color:#fc880a;
                }
                .invoices_card_icon{
                    color:#009688;                    
                }
                .service_request_card_icon{
                   
                    color:#E91E63;                    
                }
                .password_card_icon{
                    color:#ff9800;                    
                }
                .mywallet_card_icon{
                    color: #F44336;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }    
}
ion-footer{
    .main_menu_list{
        -webkit-padding-start: 0px;
        padding-inline-start: 0px;
        -webkit-margin-before: 0em;
        margin-block-start: 0em;
        -webkit-margin-after: 0em;
        margin-block-end: 0em;
        padding: 0px 5px;
        white-space: nowrap;
        overflow: auto;
        li{
            display: inline-block;
            width: 25%;
            font-size: 10px;
            text-align: center;
            img{
                width:35%;
            }
            p{
                margin-block-start: 0em;
                margin-block-end: 0em;
            }
        }
        .activatedMenu{
            img{
                border: 1px solid #ddd;
                border-radius: 50%;
                width: 10% !important;
                padding: 8px;
                margin-top: 3px;
                position: absolute;
                left: 45%;
                bottom: 15px;
                background: #fff;
            }
        }
    }
}
.ion-sliders{
    img{
        border-radius: 10px;
    }
}


