
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false">  
                <!-- <img [src]="sanitizer.bypassSecurityTrustResourceUrl(image_url+'menu.png')" class="menu_icon"> --> 
            </ion-menu-button>
        </ion-buttons>
       
        <ion-buttons slot="end" class="header_right_list">
            <!-- <ion-button routerDirection="forward" routerLink="/cart">
              <img [src]="sanitizer.bypassSecurityTrustResourceUrl(image_url+'cart.png')" class='carticon'>
              <ion-badge>5</ion-badge>
            </ion-button> -->
            <ion-button routerDirection="forward" routerLink="/notification">
              <img [src]="sanitizer.bypassSecurityTrustResourceUrl(image_url+'notification.png')" class='notificationicon'>
              <ion-badge *ngIf="notificationCnt>0">{{notificationCnt}}</ion-badge>
            </ion-button>

            <ion-button routerDirection="forward" routerLink="/wishlist">
                <img [src]="sanitizer.bypassSecurityTrustResourceUrl(image_url+'wishlist1.png')" class='wishicon'>
                <ion-badge *ngIf="wishCnt>0">{{wishCnt}}</ion-badge>
            </ion-button>

            <ion-button routerDirection="forward" routerLink="/cart">
              <img src="assets/icon/logo.png" class='rightside-logo'>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>
    <!-- <div>
        <div class="search_field">
            <ion-searchbar placeholder="Search Product" routerDirection="forward" routerLink="/searchproducts" searchIcon=''></ion-searchbar>
        </div>
    </div> -->
</ion-header>
<ion-content>   
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="4" size-sm>
            <div class="brands-col">
              <div class="my-count">{{mycollectable}}</div> 
              <ion-label>My Collectable</ion-label></div>
            
          </ion-col>

          <ion-col size="4" size-sm>
            <div class="brands-col">
              <div class="my-count">{{totalValue | currency:'INR'}}</div>
              <ion-label>Value</ion-label>
            </div>
          </ion-col>

          <ion-col size="4" size-sm>
            <div class="brands-col">
              <div class="my-count">{{categorycount}}</div>
              <ion-label>Category</ion-label>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="myaccount_list">
          <ion-col routerDirection="forward" routerLink="/my-collectable">
            <ion-icon name="reorder" class="card_icon"></ion-icon>
            <p>My Collectable</p>
          </ion-col>
          <ion-col routerDirection="forward" routerLink="/add-product">
            <ion-icon name="add-circle" class="card_icon"></ion-icon>
            <p>Add Collectable</p>
          </ion-col>
        </ion-row>

        <ion-row class="myaccount_list">
          <ion-col routerDirection="forward" routerLink="/timeline">
            <ion-icon name="time" class="card_icon"></ion-icon>
            <p>Timeline</p>
          </ion-col>

          <ion-col routerDirection="forward" routerLink="/favorite">
            <ion-icon name="heart" class="card_icon"></ion-icon>
            <p>Favorite</p>
          </ion-col>
        </ion-row>

        <ion-row class="myaccount_list">
          <ion-col routerDirection="forward" routerLink="/chatlisting">
            <ion-icon name="chatboxes" class="card_icon"></ion-icon>
            <p>Chat</p>
          </ion-col>

          <ion-col routerDirection="forward" routerLink="/setting">
            <ion-icon name="settings" class="card_icon"></ion-icon>
            <p>Setting</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-slides  *ngIf="sliders && sliders.length" autoplay="3000" pager="true" loop="true" speed="300">
          <ion-slide *ngFor="let slide of sliders" class='ion-sliders'>
            <img src={{upload_url}}{{slide.image}} class="image">
          </ion-slide>
        </ion-slides>
      </ion-grid>
    </div>
</ion-content>
<ion-footer>
  

  <ul class="main_menu_list">
    <li (click)="openOtherPages('orderdetails')"><img src="{{image_url}}/home.png"><p>Home</p></li>
    <li (click)="openOtherPages('subscription')"><img src="{{image_url}}/mycart.png"><p>Subscription</p></li>
    <li (click)="openOtherPages('myorders')"><img src="{{image_url}}/search.png"><p>Search</p></li>
    <li (click)="openOtherPages('myprofile')"><img src="{{image_url}}/user.png"><p>Profile</p></li>
  </ul>
</ion-footer>
