.product_banner_slider img {
    object-fit: inherit;
}
.enquiry-now{
    background:unset;
    font-weight: bold;
    color:#fff;
    font-size: 15px;
}
.product-name{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 15px;
}
.row-details{
  float: right;
  width: 82%;
  max-width: 55%;
  .from-input{
    height: 20px;
    font-size: 16px;
  }
  ion-col{
    font-size: 12px;
  }
  .input-qty{
    background: #80808026;
  }
}
ion-searchbar{
  input{
  border: 1px solid gray;
  }
}
.search_field{
  div{
    --background: white;
    border: 1px solid #8080802b;
    border-radius: 7px;
  }
}
    

.searchbar-search-icon{
  right: 16px !important;
  left: auto !important;
}
ion-header{
  ion-toolbar{
      ion-buttons{
          ion-button{
              --background:none;
          }
      }
      ion-menu-button{
          --color: #1e2023;;
      }
  }
}
ion-toolbar{
  --background: #fc880a;
}

.other-details{
  padding: 10px 10px 10px 10px;
  ion-searchbar{
    --background: white;
    max-height: 35px;
    border: 1px solid #80808069;
    border-radius: 7px;

    ion-icon {
      right: 16px !important;
      left: auto !important;
    }

  }
  .banner-details{
    border-radius: 3%;
    padding-top: 10px;
  }
  .product-list{
    margin-top: 10px;
    ion-row {
      border: 0.5px solid #8080805c;
      border-radius: 5px;
      margin-bottom: 5px;

      .product-details{
        padding-left: 5px;
        
        .red-color{
          color:red;
        }
        .green-color{
          color:green;
        }
        p{
          margin-top: 5px;
          line-height: 6px;
          font-size: 14px;
          white-space: nowrap !important;
        }
        .view-collection{
          float: left;
          position: absolute;
          margin-top: 1px;
          height: 30px;
          font-size: 14px;
          --background: linear-gradient(to right, #f1a505 , #ff5e00);
          --border-radius: 5px;
          --border-bottom: unset;
        }
        ion-icon{
          font-size: 30px;
          color: #3da514bf;
          float: right;
          padding-right: 0px;
        }
      }
      .product-image{
        border-right: 0.5px solid #80808029;
        .new-product{
          float: right;
          background: blue;
          position: absolute;
          top: 9%;
          left: 80%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          span{
            padding: 10px 10px 10px 10px;
            color: #fff;
            font-size: 12px;
          }
        }
      }
    }
  }
}
  
/* Stories */
.main-div{
  margin-top: 145px;
}
.main-div-top{
  margin-top: 40px;
}
.profile-head{
  border-bottom: 1px solid #8080801c;
  height: 65px;
}
.story {
  white-space: nowrap;
  top: 10px;
  left: 0px;
  right: 0px;
}

.story_scroll {
  display: inline-block;
  width: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}

.story_img_bg {
  /*width: 70px;
  padding: 2px;
  border-radius: 50%;
  padding-bottom: 0;
  transition: all 1s;
  -webkit-transition: all 0.2s;
  background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%); */
}

.story_img_bg:active {
  background: -webkit-linear-gradient(left top, #DD2352 0%, #F1642F 100%);
  transform: scale(1.1);
}

.story_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #c8c7cc8c;
}

.story_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 3px;
  font-size: 11px;
}
  
