<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Notifications
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- <p class="please_wait_message" *ngIf="showLoder">Please wait...</p> -->
    <ion-list *ngIf="notifications?.length>=1">
        <ion-item *ngFor="let notification of notifications" (click)="openNotificationDetails(notification.component, notification.type_id, notification.id, notification.status)" [ngClass]="{'unreadnotificationitem':notification.status=='unread'}">
            <ion-label text-wrap>
                <p class="notification_title">{{order_code}}{{notification.type_id}} - {{notification.title|titlecase}} </p>
                <p class="notification_description">{{notification.description|titlecase}}</p>
                <p class="notification_date">{{notification.reg_date|date}} {{notification.reg_time}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
    <p class="empty_message" *ngIf="notifications?.length<=0 && isshow==1">Sorry, there is no notifications to view.</p>
    <ion-infinite-scroll (ionInfinite)="nextNotifications($event)" *ngIf="notifications?.length >=12">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data..."></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
