ion-content{
    ion-list{
        ion-item{    
            margin-bottom:0px !important;
            ion-label{
                .notification_title{
                    font-weight: bold !important;
                }
                .notification_description{
                    font-size:12px;
                }
                .notification_date{
                    font-size: 10px;
                    text-align: right;
                    color: #233869;
                }
            }
        }
        .unreadnotificationitem{
            --background: #f2f2f2;
        }
    }
}
