<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-label>Add Collectable</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form class="collect_form" novalidate [formGroup]="collectForm">
        <ion-list>
	        <ion-item>
	            <img src="{{image_url}}/category.png" class="input_icon" slot="start">
	            <ion-label position="floating"> Category*</ion-label>
	            <ion-select ok-text="Okay" cancel-text="Dismiss" name="category_id" formControlName="category_id"  [(ngModel)]="arrcollect.category_id" (ionChange)="getsubCategory()">
				    <ion-select-option *ngFor="let item of arrcategory" value="{{item.id}}">{{item.name}}</ion-select-option>
				</ion-select>
	        </ion-item>
	         <div *ngIf="!collectForm.controls['category_id'].valid && !collectForm.controls['category_id'].pristine" class="error_message">Please select a category</div>

	        <ion-item>
	            <img src="{{image_url}}/category.png" class="input_icon" slot="start">
	            <ion-label position="floating"> Sub Category*</ion-label>
	            <ion-select ok-text="Okay" cancel-text="Dismiss" name="sub_category_id" formControlName="sub_category_id"  [(ngModel)]="arrcollect.sub_category_id" (ionChange)="getfields()">
				    <ion-select-option *ngFor="let item of arrsubcategory" value="{{item.id}}">{{item.name}}</ion-select-option>
				</ion-select>
	        </ion-item>
	        <div *ngIf="!collectForm.controls['sub_category_id'].valid && !collectForm.controls['sub_category_id'].pristine" class="error_message">Please enter a sub category</div>
    	</ion-list>
    	<ion-button  class="ion-btn" expand="block" [disabled]="!collectForm.valid" routerDirection="forward" routerLink="/add-product">Next</ion-button>
    </form>
</ion-content>
