<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <img class="back-arrow" (click)="setBackButtonAction()" src="assets/icon/back_button.png" height="auto" width="20px">
    </ion-buttons>
    <ion-label>Comments</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="message-wrap">
    <div *ngFor="let msg of msgList; let i=index;" class="message" [class.left]="1">
      <div>
        <img class="user-img" [src]="(msg.userAvatar=='')?image_url+'blankimage.png':upload_url+msg.userAvatar" alt="" src="">
      </div>
      <!-- <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner> -->
      <div class="msg-detail">
        <div class="msg-content" [class]="(msg.is_select)?'msg-select msg-content':'msg-content'">
          <div class="msg-info">
              <span class="user-name">{{msg.userName}}</span>&nbsp; - &nbsp;<span class="user-date">{{msg.time}}</span>
          </div>
          <div class="btn-del" *ngIf="msg.is_select">
            <ion-icon name="trash" (click)="deleteComment(msg.id);"></ion-icon>
          </div>
          <p class="line-breaker" (click)="selectComment(i)">{{msg.message}}</p>
        </div>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer no-border [style.height]="showEmojiPicker ? '255px' : '55px'">
  <div class="input-wrap">
    <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
      <ion-icon class="send-btn" name="md-happy"></ion-icon>
    </button>
    <textarea #chat_input
              placeholder="Type a message"
              [(ngModel)]="editorMsg"
              (keyup.enter)="sendMsg()"
              (focusin)="onFocus()">
    </textarea>
    <button ion-button clear icon-only item-right (click)="sendMsg()">
      <ion-icon class="send-btn" name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </div>
  	
  <!-- <emoji-picker [(ngModel)]="editorMsg"></emoji-picker> -->
</ion-footer>